Repository instructlab/instructlab, pull requests merged in 2024-07, with the labels that each got.

#1524 Extend sysinfo to include instructlab packages
  src/instructlab/sysinfo.py
Labels: one-approval

#1522 generate: Allow pipeline selection
  requirements.txt
  src/instructlab/data/generate.py
  tests/test_lab_generate.py
Labels: testing

#1533 Use port 0 trick to get a random free port from OS
  src/instructlab/model/backends/backends.py
  tests/test_backends.py
Labels: testing, one-approval

#1544 deps: Bump min eval version to 0.0.4
  requirements.txt
Labels: ci-failure

#1531 Fix: No str.split or f-string for subprocess args
  src/instructlab/configuration.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/serve.py
  tests/test_config.py
Labels: testing, ci-failure

#1551 fix: mypy issue with training library
  src/instructlab/model/train.py
Labels: ci-failure, one-approval

#1554 Add e2e CI variant that runs on AWS
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: one-approval

#1552 docs: fix type in xcode install instructions for Mac
  README.md
Labels: documentation, one-approval

#1563 ci: increase timeout for serving to be ready
  scripts/functional-tests.sh
Labels: testing, one-approval

#1539 Use new vllm/llama-cpp backends for evaluate
  .spellcheck-en-custom.txt
  CHANGELOG.md
  src/instructlab/data/generate.py
  src/instructlab/model/chat.py
  src/instructlab/model/convert.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/test.py
  src/instructlab/taxonomy/diff.py
  src/instructlab/utils.py
Labels: testing, CI/CD

#1532 Fix slow `ilab` CLI startup
  .pylintrc
  requirements.txt
  src/instructlab/model/backends/backends.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/serve.py
  src/instructlab/model/train.py
  src/instructlab/sysinfo.py
  tests/test_lab.py
Labels: testing, CI/CD

#1562 e2e: Always set `--num-cpus` for generate
  scripts/basic-workflow-tests.sh
Labels: one-approval

#1543 Configure coverage to merge and exclude paths
  pyproject.toml
  requirements-dev.txt
Labels: one-approval

#1568 catch all exceptions from training library
  src/instructlab/model/train.py
Labels: one-approval

#1526 Fix various issues with tox and tests
  .github/workflows/lint.yml
  .github/workflows/spellcheck.yaml
  .isort.cfg
  .pre-commit-config.yaml
  .pylintrc
  Makefile
  scripts/ruff.sh
  tox.ini
Labels: testing, CI/CD, one-approval

#1567 e2e: Only run one job at a time for a given PR
  .github/workflows/e2e.yml
Labels: one-approval

#1435 refactor ensure_server, run_detached: return api_base
  src/instructlab/data/generate.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/chat.py
  src/instructlab/model/evaluate.py
Labels: one-approval

#1575 fix: serve log message with gpu layer and context size values
  src/instructlab/model/serve.py
Labels: one-approval

#1561 fix: add list of supported backends in the CLI help
  src/instructlab/configuration.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/serve.py
  tests/test_backends.py
  tests/test_config.py
Labels: testing

#1581 Require setuptools >= 70.1.0 to build wheel
  pyproject.toml
Labels: one-approval

#1587 e2e: Don't upgrade OS packages on AWS runners
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: one-approval

#1579 Enable more Ruff checkers and fixers
  .pylintrc
  pyproject.toml
  src/instructlab/configuration.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/test.py
  src/instructlab/train/linux_train.py
  src/instructlab/utils.py
Labels: CI/CD, one-approval

#1578 Add end user Sphinx documentation
  .github/workflows/test.yml
  .readthedocs.yaml
  .spellcheck-en-custom.txt
  Makefile
  docs/Makefile
  docs/amd-rocm.md
  docs/conf.py
  docs/demo-slides.md
  docs/gpu-acceleration.md
  docs/habana-gaudi.md
  docs/ilab.rst
  docs/index.rst
  docs/requirements.txt
  docs/static/.gitignore
  docs/templates/.gitignore
  src/instructlab/utils.py
  tox.ini
Labels: documentation, testing, CI/CD, one-approval

#1275 mypy: tackle all violations in excluded files
  pyproject.toml
  requirements.txt
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/serve.py
  src/instructlab/utils.py
Labels: testing, CI/CD

#1589 fix: Updating Nvidia GPU setup on RH systems in cloud-instance
  scripts/infra/README.md
  scripts/infra/cloud-instance.sh
Labels: one-approval

#1559 ci: add option to run e2e test with the vLLM backend
  scripts/basic-workflow-tests.sh
Labels: one-approval

#1572 Adding ilab model evaluate unit testcases
  src/instructlab/model/evaluate.py
  tests/test_lab_evaluate.py
Labels: testing

#1603 display evaluate command parameters in debug mode
  src/instructlab/model/evaluate.py
Labels: one-approval

#1585 docs: Update docs to reflect current state of E2E jobs
  .spellcheck-en-custom.txt
  docs/ci.md
  docs/images/github-actions-run-workflow-example.png
Labels: documentation, CI/CD

#1610 e2e: Fix reference to invalid variable
  scripts/basic-workflow-tests.sh
Labels: one-approval

#1590 e2e: Add support for full SDG pipeline
  scripts/basic-workflow-tests.sh
Labels: one-approval

#1621 e2e: Fix setting training epochs in CI
  scripts/basic-workflow-tests.sh
Labels: one-approval

#1553 Implements --gpus option for eval
  .spellcheck-en-custom.txt
  CHANGELOG.md
  src/instructlab/configuration.py
  src/instructlab/model/evaluate.py
  tests/test_config.py
Labels: testing, CI/CD, one-approval

#1619 Temporarily removing assertions to allow to cross repo change
  tests/test_lab_evaluate.py
Labels: testing, one-approval

#1591 Improve config default lookup and `--help` message
  src/instructlab/clickext.py
  src/instructlab/config/config.py
  src/instructlab/configuration.py
  src/instructlab/data/data.py
  src/instructlab/model/chat.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/model.py
  src/instructlab/model/serve.py
  src/instructlab/model/train.py
  src/instructlab/taxonomy/taxonomy.py
  tests/conftest.py
  tests/test_lab.py
Labels: testing

#1625 e2e: Add script option to skip training
  scripts/basic-workflow-tests.sh
Labels: one-approval

#1617 Test fixtures for CliRunner, HOME, and XDG_*
  tests/conftest.py
  tests/test_lab_diff.py
  tests/test_lab_download.py
  tests/test_lab_evaluate.py
  tests/test_lab_init.py
  tests/test_lab_train.py
Labels: testing, CI/CD

#1633 e2e: Add a workflow that tests the full SDG pipeline
  .github/workflows/e2e-nvidia-a10g-x4.yml
  docs/ci.md
Labels: documentation, one-approval

#1608 fix: Change default model setting DEFAULT_MODEL_REPO to be consistent
  CONTRIBUTING/CONTRIBUTING.md
  src/instructlab/configuration.py
  tests/test_config.py
Labels: bug, documentation, testing

#1645 e2e: Fix config update to use Mixtral
  scripts/basic-workflow-tests.sh
Labels: one-approval

#1573 ci: add ilab model evaluate mmlu to basic-workflow-tests
  .github/workflows/e2e-nvidia-a10g-x1.yml
  docs/ci.md
  scripts/basic-workflow-tests.sh
Labels: documentation

#1648 e2e: Fix directory for running script
  .github/workflows/e2e-nvidia-a10g-x4.yml
Labels: one-approval

#1654 Update Initialize link
  docs/gpu-acceleration.md
Labels: documentation, one-approval

#1659 Fixup PR 1471: Don't leak HOME env var
  tests/test_config.py
Labels: testing, one-approval

#1640 Improves logging when connecting to vLLM / Llamacpp
  scripts/functional-tests.sh
  src/instructlab/model/backends/backends.py
Labels: documentation, testing

#1576 fix: warn if vLLM is set and OS is not Linux
  src/instructlab/model/backends/backends.py
  tests/test_backends.py
Labels: testing

#1662 Rename to `ilab system info` and fix `ilab sysinfo`
  scripts/functional-tests.sh
  scripts/infra/README.md
  src/instructlab/lab.py
  src/instructlab/sysinfo.py
  src/instructlab/system/info.py
  src/instructlab/system/system.py
  tests/test_lab.py
Labels: testing

#1635 Pass vllm args as extra arguments
  src/instructlab/model/serve.py
  tests/test_backends.py
Labels: testing

#1337 linux_test
  CHANGELOG.md
  README.md
  scripts/functional-tests.sh
  src/instructlab/model/backends/backends.py
  src/instructlab/model/linux_test.py
  src/instructlab/model/test.py
  src/instructlab/utils.py
  tests/test_lab_model_test.py
Labels: documentation, testing

#1652 docs: details for mac prerequisite instructions
  README.md
Labels: documentation, one-approval

#1670 docs: Document target e2e configuration
  docs/ci.md
Labels: documentation, one-approval

#1677 Rename sdg-path to tasks-dir for ilab model evaluate with mmlu
  src/instructlab/configuration.py
  src/instructlab/model/evaluate.py
  tests/test_config.py
  tests/test_lab_evaluate.py
Labels: testing, one-approval

#1653 training additional_args
  src/instructlab/configuration.py
  src/instructlab/model/train.py
  tests/test_config.py
  tests/test_lab_diff.py
Labels: testing

#1616 fix: Eval git repo and model not found error handling
  src/instructlab/model/evaluate.py
  tests/test_lab_evaluate.py
Labels: testing, one-approval

#1615 Adding test cases for eval error_rate and revert to normal tuple handling …
  src/instructlab/model/evaluate.py
  tests/test_lab_evaluate.py
Labels: testing, one-approval

#1689 docs: Update text matrix for clarity purposes
  docs/ci.md
Labels: documentation, one-approval

#1613 feat: Configure vLLM stdout/stderr suppression when running detached
  CHANGELOG.md
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/serve.py
Labels: testing

#1694 docs: Tie clarification notes to cells in the table
  docs/ci.md
Labels: documentation, one-approval

#1688 Adding test case for tasks_dir not found error
  requirements.txt
  tests/test_lab_evaluate.py
Labels: testing, one-approval

#1693 Flipping enable_serving_output flag to match background intention
  src/instructlab/model/evaluate.py
Labels: one-approval

#1622 Debug: Improved display params diagnostics
  src/instructlab/clickext.py
  src/instructlab/config/init.py
  src/instructlab/config/show.py
  src/instructlab/data/generate.py
  src/instructlab/model/chat.py
  src/instructlab/model/convert.py
  src/instructlab/model/download.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/serve.py
  src/instructlab/model/test.py
  src/instructlab/model/train.py
  src/instructlab/system/info.py
  src/instructlab/taxonomy/diff.py
  src/instructlab/utils.py
  tests/test_lab.py
Labels: testing

#1685 legacy train fix
  src/instructlab/model/train.py
  tests/test_lab_train.py
Labels: testing

#1712 Removing orphaned pylint comment
  src/instructlab/model/evaluate.py
Labels: one-approval

#1699 Fix security and UnboundLocalError in config show (PR #1471)
  src/instructlab/config/show.py
  tests/test_lab_config.py
Labels: testing, one-approval

#1708 Remove magic number for eval max_workers recommendation
  src/instructlab/model/evaluate.py
Labels: one-approval

#1691 Refactor: use check_api_base() instead of duplicated code
  src/instructlab/client.py
  src/instructlab/model/backends/backends.py
Labels: one-approval

#1717 Add a colon before the log message
  src/instructlab/log.py
Labels: one-approval

#1710 Add max workers recommendation for vllm and adjust default
  src/instructlab/configuration.py
  src/instructlab/model/evaluate.py
Labels: one-approval

#1715 Update batch size to not be described in terms of gpus and allow non integer values
  src/instructlab/configuration.py
  src/instructlab/model/evaluate.py
  tests/test_config.py
Labels: testing, one-approval

#1730 docs: add t-shirt sizes to E2E runners
  docs/ci.md
Labels: documentation, one-approval

#1731 fix: harden remaining ec2 actions in E2E jobs
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-a10g-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: one-approval

#1714 Only load mt_bench or mmlu as needed
  src/instructlab/model/evaluate.py
Labels: one-approval

#1711 Change vllm startup logic to not correlate retries to seconds
  src/instructlab/model/backends/backends.py
Labels: one-approval

#1701 Change --gpus to override when set and handle different vllmarg styles
  src/instructlab/model/evaluate.py
Labels: one-approval

#1737 Need to deepcopy config to handle compound objects
  src/instructlab/model/evaluate.py
Labels: one-approval

#1636 feat: Add chat template customization to ilab serve
  .spellcheck-en-custom.txt
  CHANGELOG.md
  scripts/functional-tests.sh
  scripts/test-data/mock-template.txt
  src/instructlab/configuration.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/serve.py
  tests/test_backends.py
  tests/test_config.py
  tests/test_lab_serve.py
Labels: testing, CI/CD

#1448 Intel Gaudi: Update Gaudi software and optimum-habana
  containers/hpu/Containerfile
  docs/habana-gaudi.md
  requirements-hpu.txt
  requirements.txt
Labels: documentation, container

#1678 fix: ensure multiprocessing is used for distributed serving in vLLM
  src/instructlab/model/backends/vllm.py
  tests/test_backends.py
  tests/test_lab_serve.py
Labels: testing

#1733 docs: add guidance around E2E test script flag options
  .spellcheck-en-custom.txt
  docs/ci.md
  scripts/basic-workflow-tests.sh
Labels: documentation, CI/CD

#1612 refactor: move lama-cpp code from backends.py to llama_cpp.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama_cpp.py
  tests/test_lab_model_test.py
Labels: testing

#1744 Changelog: remove duplicated line
  CHANGELOG.md
Labels: one-approval

#1639 feat: improve auto-detection check for safetensors models
  src/instructlab/model/backends/backends.py
  tests/test_backends.py
Labels: enhancement, testing

#1754 revert: use GGUF file as default model
  src/instructlab/config/init.py
  src/instructlab/configuration.py
  src/instructlab/model/chat.py
  src/instructlab/model/linux_test.py
  src/instructlab/model/test.py
  tests/test_config.py
Labels: testing

#1766 chore: Update vllm to 2024.07.17
  requirements-vllm-cuda.txt
Labels: one-approval

#1783 add -T option to e2e
  .github/workflows/e2e-nvidia-a10g-x4.yml
  docs/ci.md
  scripts/basic-workflow-tests.sh
Labels: documentation, one-approval

#1784 Remove the check for a valid pipeline alias
  src/instructlab/data/generate.py
Labels: one-approval

#1789 fix A10x4 runner Deps
  .github/workflows/e2e-nvidia-a10g-x4.yml
Labels: one-approval

#1768 fix: model server detection
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-a10g-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  .github/workflows/e2e.yml
  scripts/basic-workflow-tests.sh
  scripts/functional-tests.sh
  src/instructlab/model/chat.py
Labels: testing

#1763 Fix: show correct parameter source for ConfigOption
  src/instructlab/clickext.py
Labels: one-approval

#1804 docs: Reflect updates to training CI status
  docs/ci.md
Labels: documentation, one-approval

#1749 Introduce version field in CLI config yaml
  src/instructlab/configuration.py
  tests/test_config.py
Labels: testing, one-approval

#1793 removes tokenizer.model from required safetensors model files"
  src/instructlab/model/backends/backends.py
  tests/test_backends.py
Labels: testing

#1646 Automatically trigger e2e on AWS
  .github/workflows/e2e-nvidia-t4-x1.yml
  docs/ci.md
Labels: documentation

#1570 generate: Add `--sdg-scale-factor`
  CHANGELOG.md
  scripts/functional-tests.sh
  src/instructlab/configuration.py
  src/instructlab/data/generate.py
  tests/test_config.py
Labels: testing

#1753 Add optional requirements for all hardware targets
  CHANGELOG.md
  CONTRIBUTING/CONTRIBUTING.md
  README.md
  containers/rocm/Containerfile
  docs/demo-slides.md
  docs/gpu-acceleration.md
  docs/habana-gaudi.md
  pyproject.toml
  requirements-cuda.txt
  requirements.txt
  requirements/cpu.txt
  requirements/cuda.txt
  requirements/hpu.txt
  requirements/mps.txt
  requirements/rocm.txt
  scripts/infra/cloud-instance.sh
  tests/test_package.py
  tox.ini
Labels: documentation, testing, CI/CD, container

#1813 fix: typo in LD_LIBRARY_PATH definition in workflows
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-a10g-x4.yml
Labels: one-approval

#1726 fix: match mergify automerge rules to actionlint rules
  .github/mergify.yml
  .github/workflows/actionlint.yml
Labels: CI/CD

#1777 feat: add serve config for teacher model in `ilab data generate`
  CHANGELOG.md
  src/instructlab/configuration.py
  src/instructlab/data/generate.py
  tests/test_config.py
Labels: testing, one-approval

#1809 fix: check for .bin files during auto-detection of serving backend
  src/instructlab/model/backends/backends.py
  tests/test_backends.py
Labels: testing

#1767 utils: Drop reading of taxonomy data
  src/instructlab/taxonomy/diff.py
  src/instructlab/utils.py
  tests/test_utils.py
Labels: testing, one-approval

#1790 Knowledge v3 support
  requirements.txt
  scripts/test-data/e2e-qna-knowledge.yaml
Labels: one-approval

#1839 ci: support vLLM installation in 4xA10 workflow
  .github/workflows/e2e-nvidia-a10g-x4.yml
Labels: one-approval

#1762 Update model storage locations to better reflect permanent vs ephemeral data
  CHANGELOG.md
  scripts/functional-tests.sh
  src/instructlab/configuration.py
  src/instructlab/model/test.py
  tests/test_config.py
Labels: testing

#1795 fix: add checks to ensure evaluate model args are valid
  src/instructlab/model/evaluate.py
  tests/test_lab_evaluate.py
Labels: testing

#1716 Lazy load click commands with entry points
  pyproject.toml
  src/instructlab/clickext.py
  src/instructlab/config/config.py
  src/instructlab/data/data.py
  src/instructlab/lab.py
  src/instructlab/model/model.py
  src/instructlab/system/system.py
  src/instructlab/taxonomy/taxonomy.py
  tests/test_lab.py
  tests/testdata/leanimports.py
Labels: enhancement, testing

#1683 Add test to track config file changes
  Makefile
  pyproject.toml
  tests/conftest.py
  tests/test_config.py
  tests/testdata/default_config.yaml
Labels: testing

#1775 chore: warn when vllm is used with unsupported arguments
  src/instructlab/model/serve.py
  tests/test_lab_serve.py
Labels: testing

#1756 feat: Support downloading models from OCI Registries
  .github/workflows/test.yml
  CHANGELOG.md
  scripts/functional-tests.sh
  src/instructlab/configuration.py
  src/instructlab/model/download.py
  src/instructlab/utils.py
Labels: testing

#1847 Fix config error reporting
  src/instructlab/configuration.py
  tests/test_lab.py
Labels: testing, one-approval

#1776 test: allow func test to use a specific temporary directory
  scripts/functional-tests.sh
  tox.ini
Labels: testing, CI/CD

#1855 tests: Don't access result.stderr from cliRunner
  tests/test_lab_config.py
Labels: testing, one-approval

#1785 docs: add README section for evaluation
  README.md
Labels: documentation, blocker proposed

#1865 init: adjust config found prompt
  src/instructlab/config/init.py
Labels: one-approval

#1842 Add support for an `ilab` global config
  CHANGELOG.md
  src/instructlab/config/init.py
  src/instructlab/configuration.py
  src/instructlab/lab.py
  tests/test_lab_config.py
Labels: testing, blocker proposed

#1862 chore: Bump vLLM version to 2024.07.24 on ODH branch
  requirements-vllm-cuda.txt
Labels: one-approval, dependencies

#1860 ci: `basic-workflow-tests.sh` improvments for 4xA10 workflow
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-a10g-x4.yml
  docs/ci.md
  scripts/basic-workflow-tests.sh
Labels: documentation

#1868 fix: remove useless try-expect
  src/instructlab/model/backends/backends.py
Labels: one-approval

#1840 add `ilab model list`
  .spellcheck-en-custom.txt
  CHANGELOG.md
  pyproject.toml
  scripts/basic-workflow-tests.sh
  src/instructlab/model/backends/backends.py
  src/instructlab/model/list.py
  src/instructlab/model/model.py
  tests/test_lab.py
Labels: testing, CI/CD, blocker proposed

#1870 evaluate: add stdout line to show what model is being evaluated
  src/instructlab/model/evaluate.py
  tests/test_lab_evaluate.py
Labels: testing, blocker proposed

#1887 Properly isolate tests from default config
  .github/workflows/test.yml
  tests/conftest.py
Labels: testing, one-approval

#1888 bump instructlab-training to most recent version
  requirements.txt
  requirements/cuda.txt
Labels: one-approval, dependencies

#1797 Enable SDG batching with vLLM
  .spellcheck-en-custom.txt
  CHANGELOG.md
  TROUBLESHOOTING.md
  scripts/basic-workflow-tests.sh
  src/instructlab/data/generate.py
Labels: documentation, CI/CD, dependencies

#1890 github: add new issue template for design change
  .github/ISSUE_TEMPLATE/design_change.md
Labels: one-approval

#1915 Adding checkpoint dir when batching enabled
  requirements.txt
  src/instructlab/data/generate.py
Labels: dependencies

#1914 fix: Bring 'taxonomy diff' validation in line with 'data generate'
  src/instructlab/utils.py
Labels: one-approval

#1843 Add autodetection and vllm arg adjustment for bitsandbytes quantization
  src/instructlab/model/backends/vllm.py
  tests/test_backends.py
Labels: testing

#1918 docs: update 'ilab taxonomy diff' README section
  README.md
Labels: documentation

#1936 fix: downgrade skopeo log msgs to warning level from error level
  src/instructlab/model/download.py
Labels: one-approval, blocker approved

#1930 Fixing venv wording in README
  README.md
Labels: documentation

#1923 add --gpus to `ilab data generate`
  src/instructlab/configuration.py
  src/instructlab/data/generate.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/linux_test.py
  tests/test_lab_model_test.py
  tests/testdata/default_config.yaml
Labels: testing, blocker proposed

#1905 refactor: strictly require `qna.yaml` filename for `ilab taxonomy diff`
  src/instructlab/taxonomy/diff.py
  src/instructlab/utils.py
  tests/test_lab_diff.py
Labels: testing, blocker proposed

#1933 Update example contents in 'ilab data generate'
  README.md
Labels: documentation

#1946 Fix missing import and typo
  src/instructlab/data/generate.py
Labels: one-approval
