Repository instructlab/instructlab, pull requests merged in 2024-06, with the labels that each got.

#1192 Automate triggering e2e workflow
  .github/mergify.yml
  .github/workflows/e2e.yml
  .spellcheck-en-custom.txt
  Makefile
  docs/ci.md
Labels: documentation, CI/CD

#1246 Revert "notebook: more clean results code and output" and fix CI
  .github/workflows/validate-notebooks.yml
  notebooks/Training_a_LoRA_With_Instruct_Lab.ipynb
Labels: one-approval

#1247 docs: Update a couple of links in CONTRIBUTING.md
  CONTRIBUTING/CONTRIBUTING.md
Labels: documentation, one-approval

#1248 mergify: fix e2e workflow file name
  .github/mergify.yml
Labels: CI/CD, one-approval

#1249 docs: fix link to repo in demo-slides
  docs/demo-slides.md
Labels: documentation, one-approval

#1243 sdg: Remove unnecessary config access
  src/instructlab/generator/generate_data.py
Labels: one-approval

#1239 ci: try to fix flaky test_generate() functional test
  scripts/functional-tests.sh
Labels: testing, one-approval

#1211 fix: make all bash script pass shellcheck
  .github/mergify.yml
  .github/workflows/shellcheck.yaml
  containers/rocm/remove-gfx.sh
  scripts/basic-workflow-tests.sh
  scripts/functional-tests.sh
Labels: testing, CI/CD, container

#1183 feat: ability to log server to file
  scripts/functional-tests.sh
  src/instructlab/lab.py
  src/instructlab/log.py
Labels: testing, one-approval

#1231 introduce a release note for release
  .spellcheck-en-custom.txt
  CHANGELOG.md
  docs/release-strategy.md
Labels: documentation, CI/CD

#1250 ci: install gh cli on e2e runner
  .github/workflows/e2e.yml
Labels: one-approval

#1233 Misc code cleanup in lab.train endpoint
  src/instructlab/generator/generate_data.py
  src/instructlab/lab.py
  src/instructlab/llamacpp/llamacpp_convert_to_gguf.py
  tests/test_lab_train.py
Labels: testing, one-approval

#1234 chat: Fix ssl when only cert file is passed
  src/instructlab/chat/chat.py
  src/instructlab/client.py
  src/instructlab/generator/utils.py
  src/instructlab/utils.py
Labels: one-approval

#1265 fix: train and test files not being iterable
  src/instructlab/lab.py
  tests/test_lab_train.py
Labels: testing

#1235 Add mypy checks to github actions
  .github/workflows/lint.yml
  pyproject.toml
  tox.ini
Labels: testing, CI/CD

#1268 e2e workflow: add success/failed comments on PR
  .github/workflows/e2e.yml
Labels: one-approval

#1269 train: fix type violation when passing test_file and train_file
  src/instructlab/lab.py
  src/instructlab/train/linux_train.py
  tests/test_lab_train.py
Labels: testing

#1273 mypy: clean up client.py and chat.py from excludes
  pyproject.toml
Labels: one-approval

#1278 Log funcName
  src/instructlab/log.py
Labels: one-approval

#1238 feat: add new pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: one-approval

#1297 Use correct model family for granite
  src/instructlab/config.py
Labels: bug

#1315 Updated the readme section for M1/M2/M3
  README.md
Labels: documentation

#1294 update ensure_server(): wait longer time to make sure server is started
  src/instructlab/server.py
Labels: one-approval

#1283 Update gpu-acceleration.md with llama-cpp-python 0.2.75
  README.md
  docs/gpu-acceleration.md
Labels: documentation, one-approval

#1217 Adding cloud scripting
  .spellcheck-en-custom.txt
  scripts/infra/README.md
  scripts/infra/cloud-instance.sh
  scripts/infra/instructlab-cloud-config-example
Labels: CI/CD

#990 `ilab` command redesign
  .gitignore
  pyproject.toml
  src/instructlab/__main__.py
  src/instructlab/config.py
  src/instructlab/configuration/config.py
  src/instructlab/configuration/init.py
  src/instructlab/data/data.py
  src/instructlab/data/generate.py
  src/instructlab/data/generator/README.md
  src/instructlab/data/generator/__init__.py
  src/instructlab/data/generator/generate_data.py
  src/instructlab/data/generator/seed_tasks.jsonl
  src/instructlab/data/generator/utils.py
  src/instructlab/generator/__init__.py
  src/instructlab/lab.py
  src/instructlab/model/chat.py
  src/instructlab/model/convert.py
  src/instructlab/model/download.py
  src/instructlab/model/model.py
  src/instructlab/model/serve.py
  src/instructlab/model/test.py
  src/instructlab/model/train.py
  src/instructlab/taxonomy/diff.py
  src/instructlab/taxonomy/taxonomy.py
  src/instructlab/train/linux_train.py
  tests/test_lab.py
  tests/test_lab_diff.py
  tests/test_lab_download.py
  tests/test_lab_generate.py
  tests/test_lab_init.py
  tests/test_lab_train.py
Labels: enhancement, testing, container, UX

#1336 fix: Indent help epilog alias list
  src/instructlab/lab.py
Labels: one-approval

#1288 Enable mypy checks for train/lora_mlx/utils.py
  pyproject.toml
  src/instructlab/train/lora_mlx/utils.py
Labels: one-approval

#1320 Ensure commands in "Installing ilab" section are easy to copy
  README.md
Labels: documentation

#1343 fix: output right trained model path
  src/instructlab/model/train.py
Labels: one-approval

#1335 Add feature note about the ilab command redesign
  CHANGELOG.md
Labels: one-approval

#1353 test: clearer banner when func test fails
  scripts/functional-tests.sh
Labels: testing, one-approval

#1356 fix: Remove duplicate --version option
  src/instructlab/lab.py
Labels: one-approval

#1317 Harden the GitHub Action workflows
  .github/dependabot.yml
  .github/mergify.yml
  .github/workflows/actionlint.dockerfile
  .github/workflows/actionlint.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/image-cuda.yml
  .github/workflows/lint.yml
  .github/workflows/matchers/actionlint.json
  .github/workflows/pypi.yaml
  .github/workflows/shellcheck.yaml
  .github/workflows/spellcheck.yaml
  .github/workflows/stale_bot.yml
  .github/workflows/test.yml
  .github/workflows/validate-notebooks.yml
Labels: CI/CD, one-approval

#1340 e2e: Run on PRs and pushes
  .github/mergify.yml
  .github/workflows/e2e.yml
Labels: CI/CD, one-approval

#1361 fix: do not stack trace when no data dir
  src/instructlab/model/test.py
Labels: one-approval

#1346 mergify: allow auto-merge for specific script without requiring lint/…
  .github/mergify.yml
Labels: CI/CD

#1053 Stylistic improvements to notebooks/Training_a_LoRA_With_Instruct_Lab.ipynb
  .markdownlint-cli2.yaml
  .spellcheck-en-custom.txt
  notebooks/README.md
  notebooks/Training_a_LoRA_With_Instruct_Lab.ipynb
Labels: documentation, testing, CI/CD, container, one-approval

#1374 fix: Remove DEFAULT_YAML_RULES from config
  src/instructlab/configuration.py
Labels: one-approval

#1397 docs: Improve LoRA doc by adding var and file name
  notebooks/Training_a_LoRA_With_Instruct_Lab.ipynb
Labels: one-approval

#1368 linux_train: add links to huggingface docs
  src/instructlab/train/linux_train.py
Labels: one-approval

#1351 add debug information to display command parameters
  src/instructlab/data/generate.py
  src/instructlab/model/chat.py
  src/instructlab/model/convert.py
  src/instructlab/model/download.py
  src/instructlab/model/serve.py
  src/instructlab/model/test.py
  src/instructlab/model/train.py
  src/instructlab/taxonomy/diff.py
  src/instructlab/utils.py
Labels: one-approval

#1255 linux_train returns training_results_dir
  src/instructlab/model/train.py
  src/instructlab/train/linux_train.py
  tests/test_lab_train.py
Labels: testing

#1407 Bump minimum version of pydantic to work on Python 3.12.4.
  requirements.txt
Labels: one-approval

#1408 schema: Remove references to schema folder
  .markdownlint-cli2.yaml
  .spellcheck.yml
  pyproject.toml
Labels: CI/CD, one-approval

#1412 ci: wait for the session file to be created
  scripts/functional-tests.sh
Labels: testing, one-approval

#1417 cli: Fix `--model-family granite`
  src/instructlab/configuration.py
  tests/test_config.py
Labels: testing

#1426 fix: clean training result final directory to make sure training can work after a failure training
  src/instructlab/model/train.py
Labels: one-approval

#1298 fix: use right gpu device for training when use device cuda:<index>
  .spellcheck-en-custom.txt
  CHANGELOG.md
  src/instructlab/model/train.py
  src/instructlab/train/linux_train.py
  tests/test_lab_train.py
Labels: testing, CI/CD, one-approval

#1429 add more links to huggingface.co/docs articles
  src/instructlab/train/linux_train.py
Labels: one-approval

#1423 add examples how to use non-default models to serve/chat/generate
  README.md
  TROUBLESHOOTING.md
Labels: documentation

#1244 Make use of new library from `instructlab/sdg`
  requirements.txt
  src/instructlab/data/generate.py
  src/instructlab/data/generator/README.md
  src/instructlab/data/generator/__init__.py
  src/instructlab/data/generator/generate_data.py
  src/instructlab/data/generator/seed_tasks.jsonl
  src/instructlab/data/generator/utils.py
  src/instructlab/taxonomy/diff.py
  tests/test_lab_generate.py
  tests/testdata/knowledge_valid.yaml
Labels: testing

#1270 Update to Gaudi 1.16.1, add HPU to sysinfo
  containers/hpu/Containerfile
  docs/habana-gaudi.md
  pyproject.toml
  requirements-hpu.txt
  requirements.txt
  src/instructlab/lab.py
  src/instructlab/sysinfo.py
Labels: documentation, container, one-approval

#1413 Don't pass logger in ctx.obj
  .pylintrc
  src/instructlab/configuration.py
  src/instructlab/data/generate.py
  src/instructlab/lab.py
  src/instructlab/log.py
  src/instructlab/model/backends/llama.py
  src/instructlab/model/chat.py
  src/instructlab/model/convert.py
  src/instructlab/model/serve.py
  src/instructlab/taxonomy/diff.py
  src/instructlab/utils.py
  tests/test_lab_generate.py
  tests/test_utils.py
Labels: testing, CI/CD, one-approval

#1424 docs: added upgrade instructions to README.md
  README.md
Labels: documentation, one-approval

#1352 [Docs] Updating docs throughout InstructLab repo per CLI redesign
  .spellcheck-en-custom.txt
  README.md
  docs/cli_reference.md
  docs/demo-slides.md
  docs/gpu-acceleration.md
  docs/habana-gaudi.md
  docs/workflow.puml
Labels: documentation, CI/CD, one-approval

#1455 python version bump
  .github/workflows/test.yml
  .pylintrc
  README.md
  pyproject.toml
  tox.ini
Labels: documentation, testing, CI/CD

#1462 com.redhat.component label
  containers/cuda/Containerfile
  containers/hpu/Containerfile
  containers/rocm/Containerfile
Labels: container, one-approval

#1442 Add vLLM backend
  CHANGELOG.md
  pyproject.toml
  requirements-vllm-cuda.txt
  requirements.txt
  scripts/functional-tests.sh
  src/instructlab/configuration.py
  src/instructlab/data/generate.py
  src/instructlab/log.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/chat.py
  src/instructlab/model/serve.py
  tests/test_backends.py
  tests/test_config.py
Labels: testing

#1370 Training Library Usage
  .github/actions/free-disk-space/action.yml
  .github/workflows/image-cuda.yml
  .github/workflows/test.yml
  pyproject.toml
  requirements.txt
  scripts/basic-workflow-tests.sh
  scripts/functional-tests.sh
  src/instructlab/config/init.py
  src/instructlab/configuration.py
  src/instructlab/model/train.py
  src/instructlab/profiles/test_train.yaml
  tests/test_lab_train.py
  tox.ini
Labels: documentation, testing, CI/CD

#1461 docs: Add notice of Python 3.9 and Python 3.12 support deprecation
  .spellcheck-en-custom.txt
  CHANGELOG.md
  CONTRIBUTING/CONTRIBUTING.md
  README.md
Labels: documentation, CI/CD

#1436 Update README.md
  README.md
Labels: documentation

#1454 e2e: Add skills to e2e testing
  .github/mergify.yml
  .github/workflows/e2e.yml
  scripts/basic-workflow-tests.sh
  scripts/test-data/e2e-qna-freeform-skill.yaml
  scripts/test-data/e2e-qna-grounded-skill.yaml
  scripts/test-data/e2e-qna-knowledge.yaml
Labels: CI/CD, one-approval

#1487 Updating default python version on rh systems for cloud-instance.sh to 3.11
  scripts/infra/cloud-instance.sh
Labels: one-approval

#1492 Update requires-python to exclude Python 3.12+
  pyproject.toml
Labels: one-approval

#1500 fix lora-alpha which should be an int, gitignore
  .gitignore
  src/instructlab/model/train.py
Labels: one-approval

#1497 Made the local training a tad more fun.
  src/instructlab/train/lora_mlx/lora.py
Labels: one-approval

#1496 docs: update release-strategy.md
  docs/release-strategy.md
Labels: documentation, one-approval

#1516 Fix redesigned CLI commands
  .github/workflows/e2e.yml
  README.md
  TROUBLESHOOTING.md
  containers/README.md
  containers/rocm/README.md
  docs/demo-slides.md
  docs/workflow.png
  docs/workflow.puml
  notebooks/README.md
  notebooks/Training_a_LoRA_With_Instruct_Lab.ipynb
  scripts/basic-workflow-tests.sh
  scripts/functional-tests.sh
  src/instructlab/config/config.py
  src/instructlab/configuration.py
  src/instructlab/data/data.py
  src/instructlab/data/generate.py
  src/instructlab/lab.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/chat.py
  src/instructlab/model/model.py
  src/instructlab/model/train.py
  src/instructlab/taxonomy/taxonomy.py
  src/instructlab/utils.py
  tests/test_lab_diff.py
  tests/test_lab_generate.py
  tests/test_lab_train.py
Labels: documentation, testing, container, one-approval

#1458 Drop some more sdg-only code
  requirements.txt
  src/instructlab/utils.py
  tests/test_utils.py
  tests/testdata/testdata.py
Labels: testing

#1513 IPv6-safe hostname/port split
  src/instructlab/data/generate.py
  src/instructlab/model/chat.py
  src/instructlab/model/serve.py
  src/instructlab/utils.py
  tests/test_utils.py
Labels: testing

#1511 Update installation and dnf instruction
  README.md
Labels: documentation

#1514 Update llama-cpp-python to 0.2.79
  CHANGELOG.md
  docs/gpu-acceleration.md
  requirements.txt
Labels: documentation, one-approval

#1510 Add missing __init__.py, fix about 60 pylint violations
  .pylintrc
  src/instructlab/config/__init__.py
  src/instructlab/config/init.py
  src/instructlab/data/__init__.py
  src/instructlab/data/generate.py
  src/instructlab/mlx_explore/gguf_convert_to_mlx.py
  src/instructlab/mlx_explore/utils.py
  src/instructlab/model/__init__.py
  src/instructlab/model/backends/__init__.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/chat.py
  src/instructlab/model/convert.py
  src/instructlab/model/serve.py
  src/instructlab/model/train.py
  src/instructlab/taxonomy/__init__.py
  src/instructlab/train/lora_mlx/lora.py
  src/instructlab/train/lora_mlx/prepare_model.py
  tests/test_utils.py
  tox.ini
Labels: testing, CI/CD

#1518 --legacy should be a flag
  scripts/basic-workflow-tests.sh
  src/instructlab/model/train.py
  tests/test_lab_train.py
Labels: testing, one-approval

#1495 Serve vllm using subprocess instead of multiprocessing
  src/instructlab/configuration.py
  src/instructlab/data/generate.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/chat.py
  src/instructlab/model/serve.py
  tests/test_config.py
  tests/test_lab_generate.py
Labels: testing

#1527 Add pciutils package to the gpu-acceleration docs
  docs/gpu-acceleration.md
Labels: documentation, one-approval

#1369 `ilab model evaluate` command and eval library usage
  pyproject.toml
  requirements.txt
  src/instructlab/config/init.py
  src/instructlab/configuration.py
  src/instructlab/lab.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/model.py
  tests/test_config.py
  tests/testdata/mmlu_branch/_default_mmlu_pr_template_yaml
  tests/testdata/mmlu_branch/tonsils.jsonl
  tests/testdata/mmlu_branch/tonsils_task.yaml
Labels: testing
