Repository instructlab/instructlab, pull requests merged in 2024-08, with the labels that each got.

#1952 chore: update vllm tag to 2024.08.01
  requirements-vllm-cuda.txt
Labels: one-approval, dependencies, blocker approved

#1949 Model family vllm data generate & `get_model_family()` fixes
  src/instructlab/configuration.py
  src/instructlab/data/generate.py
  src/instructlab/model/backends/backends.py
  tests/test_config.py
Labels: testing

#1958 Bumping min versions for eval and sdg
  requirements.txt
Labels: one-approval, dependencies

#1957 Updating default location for judge model to be a local model in the cache
  src/instructlab/configuration.py
  src/instructlab/model/evaluate.py
  tests/testdata/default_config.yaml
Labels: testing, one-approval

#1963 Changing few_shots default to 5
  src/instructlab/configuration.py
  tests/testdata/default_config.yaml
Labels: testing, one-approval

#1956 Updating system prompt to match generated data, current ilab models, and updated crediting
  src/instructlab/common.py
Labels: one-approval

#1732 adds phased training to CLI
  scripts/basic-workflow-tests.sh
  src/instructlab/configuration.py
  src/instructlab/model/train.py
  src/instructlab/utils.py
  tests/testdata/default_config.yaml
Labels: enhancement, testing, blocker proposed

#1969 Fail fast when vllm errors out and exits
  src/instructlab/data/generate.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/evaluate.py
  tests/test_lab_model_test.py
Labels: testing, one-approval, blocker proposed

#1968 Increase default vllm startup attempts and make configurable
  src/instructlab/configuration.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/vllm.py
  tests/testdata/default_config.yaml
Labels: testing, one-approval, blocker proposed

#1972 doc: remove "testing doesn't work on Linux"
  README.md
Labels: documentation, one-approval

#1979 fix: wrong phased_phase2_data path into _run_phased_training
  src/instructlab/model/train.py
Labels: one-approval, blocker approved

#1954 fix: log error if user supplies invalid repository for OCI download
  src/instructlab/model/download.py
  tests/test_lab_download.py
Labels: testing, one-approval

#1959 Add training profiles for GPU configs
  .pylintrc
  CHANGELOG.md
  src/instructlab/config/init.py
  src/instructlab/configuration.py
Labels: CI/CD, one-approval

#1945 feat: Add more robust config defaulting
  src/instructlab/configuration.py
  tests/test_config.py
Labels: testing, blocker approved

#1944 doc: change path to downloaded model in README.md
  README.md
Labels: documentation

#1975 feat: add pipeline into generate config
  CHANGELOG.md
  README.md
  src/instructlab/configuration.py
  src/instructlab/data/generate.py
  tests/test_config.py
  tests/testdata/default_config.yaml
Labels: documentation, testing, blocker approved

#1917 LoRA Adjustments
  src/instructlab/configuration.py
  src/instructlab/model/train.py
Labels: one-approval, blocker approved

#2006 Expand env vars and user dirs read from config
  src/instructlab/configuration.py
  tests/test_config.py
Labels: testing, one-approval, blocker proposed

#1867 Update README.md Instructions Steps
  README.md
Labels: documentation, testing

#1984 Add 'ilab config edit'
  pyproject.toml
  src/instructlab/config/edit.py
  tests/test_lab.py
Labels: testing, one-approval

#1779 tests: clarify the presence of some variables
  scripts/functional-tests.sh
Labels: testing, one-approval

#1593 ilab init set default to "yes" for cloning down taxonomy if not existing
  tests/test_lab_init.py
Labels: testing

#1999 `ilab` global config fixes
  scripts/functional-tests.sh
  src/instructlab/config/init.py
  src/instructlab/configuration.py
  tests/test_lab_config.py
  tests/test_lab_init.py
Labels: testing, blocker approved

#2018 Refine wording of confirmation message for train profile re-init
  src/instructlab/config/init.py
Labels: one-approval

#2025 Fix training lora arg checking and exiting
  src/instructlab/configuration.py
Labels: blocker proposed

#2027 Bump min version for training to 0.3.2
  requirements.txt
  requirements/cuda.txt
Labels: one-approval, dependencies, blocker approved

#1986 fix: introduce vram stability waiting
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/vllm.py
  tests/test_lab_serve.py
  tox.ini
Labels: testing, CI/CD, blocker approved

#2005 exposes effective_batch_size for both of the training phases
  src/instructlab/configuration.py
  src/instructlab/model/train.py
  tests/testdata/default_config.yaml
Labels: testing, blocker approved

#2004 adds a switch so we can save checkpoints on epoch boundary
  src/instructlab/configuration.py
  src/instructlab/model/train.py
  tests/testdata/default_config.yaml
Labels: testing, blocker approved

#2035 fix: phased training fixes
  src/instructlab/configuration.py
  src/instructlab/model/train.py
  tests/testdata/default_config.yaml
Labels: testing, blocker approved

#1941 mergify config: Fix and update for valid regex and consistency
  .github/mergify.yml
Labels: CI/CD

#2039 Bump training lib to 0.4.1 to support optional save_samples
  requirements.txt
  requirements/cuda.txt
Labels: dependencies

#2043 honor ~/.config/instructlab/config.yaml
  src/instructlab/config/init.py
  src/instructlab/lab.py
Labels: blocker approved

#2038 Update README with revised eval command usage
  README.md
Labels: documentation

#2045 only prompt for taxonomy and model without env
  src/instructlab/config/init.py
Labels: UX, blocker approved

#2049 fix: remove custom spellcheck job name
  .github/workflows/spellcheck.yaml
Labels: CI/CD, one-approval

#2048 fix: update recommended skopeo version
  .github/workflows/test.yml
  src/instructlab/model/download.py
Labels: CI/CD

#2051 do not re-create train profiles on fresh install
  scripts/functional-tests.sh
  src/instructlab/clickext.py
  src/instructlab/config/config.py
  src/instructlab/config/init.py
  src/instructlab/configuration.py
  src/instructlab/data/data.py
  src/instructlab/model/model.py
  src/instructlab/system/system.py
  src/instructlab/taxonomy/taxonomy.py
  tests/test_lab.py
  tests/test_lab_init.py
Labels: testing, blocker approved

#1651 e2e: switch to AWS-based runner model
  .github/mergify.yml
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-a10g-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  docs/ci.md
Labels: documentation, CI/CD

#2071 Update flag text format in `ilab model evaluate` commands in changelog
  CHANGELOG.md
Labels: documentation

#1937 ci: update flags and descs for E2E script
  .github/workflows/e2e-nvidia-a10g-x1.yml
  docs/ci.md
  scripts/basic-workflow-tests.sh
Labels: documentation, CI/CD

#2062 README updates for ilab 0.18.0
  .spellcheck-en-custom.txt
  README.md
Labels: documentation, CI/CD, one-approval

#2073 cloud-instance: Add `ec2 details` command
  scripts/infra/cloud-instance.sh
Labels: one-approval

#2087 taxonomy diff/data generate: support taxonomy-base=empty
  CHANGELOG.md
  README.md
  requirements.txt
  src/instructlab/data/generate.py
  src/instructlab/taxonomy/diff.py
  src/instructlab/utils.py
  tests/test_lab_diff.py
Labels: documentation, testing, dependencies

#2081 Update README.md
  README.md
Labels: documentation, one-approval

#2089 update README and logging for ilab taxonomy diff
  README.md
  src/instructlab/utils.py
Labels: documentation

#2091 Ensure vllm logging is enabled
  src/instructlab/model/backends/vllm.py
Labels: one-approval

#2092 Retry vllm startup for long running processes
  src/instructlab/configuration.py
  src/instructlab/data/generate.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/evaluate.py
  tests/test_lab_model_test.py
  tests/testdata/default_config.yaml
Labels: testing, one-approval

#2093 Add process group kill for vllm process
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/vllm.py
Labels: testing

#2094 Add back a pip -e . for instructlab in cloud-instance
  scripts/infra/cloud-instance.sh
Labels: one-approval

#1962 Use instructlab-schema package to parse qna.yaml files
  requirements.txt
  src/instructlab/taxonomy/diff.py
  src/instructlab/utils.py
  tests/test_lab_diff.py
  tests/testdata/knowledge_unsupported.yaml
  tox.ini
Labels: testing, CI/CD, dependencies

#2046 tests: Validate that null vllm_args are accepted
  .pylintrc
  tests/common.py
  tests/test_lab_evaluate.py
  tests/test_lab_generate.py
  tests/test_lab_serve.py
Labels: testing, CI/CD

#1852 introduce backends.common to reduce circular dependencies
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/common.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
Labels: hold, testing

#2117 Fix test case broken by conflicting changes
  tests/common.py
Labels: testing, one-approval

#2055 feat: add comments to config options
  requirements.txt
  src/instructlab/config/show.py
  src/instructlab/configuration.py
  tests/testdata/default_config.yaml
Labels: testing, dependencies

#2072 Add better tuning for max_workers based on perf tests
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/evaluate.py
Labels: one-approval

#2107 `--model` is ignored in ilab chat when starting server
  src/instructlab/model/chat.py
Labels: one-approval

#2122 Fixing test case broken by conflicting merges
  src/instructlab/model/evaluate.py
Labels: one-approval

#2134 chore: cap dependency versions for instructlab libraries
  requirements.txt
Labels: release-branch, dependencies

#2137 taxonomy base fix
  src/instructlab/config/init.py
Labels: release-branch

#2140 Update testdata yaml files to account for updated schema in instructlab-schema v0.4.1
  scripts/functional-tests.sh
  tests/test_lab_diff.py
  tests/testdata/invalid_yaml.yaml
Labels: testing, one-approval

#2143 Bump min version of sdg lib to 0.3.0
  requirements.txt
Labels: one-approval, dependencies

#2126 ci: update runner labels to uniquely identify instance sizes
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-a10g-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD

#2131 refactor: use global shell var in e2e script for all granite safetensors instances
  scripts/basic-workflow-tests.sh
Labels: one-approval

#2128 Fixing typos
  src/instructlab/model/train.py
Labels: one-approval

#2142 batch_size should allow for str or int
  src/instructlab/configuration.py
  src/instructlab/model/evaluate.py
  tests/test_lab_evaluate.py
Labels: testing, one-approval, evaluation

#2157 refactor: move verify_template_exists to common
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/common.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
Labels: one-approval

#2114 refactor: move ensure_server() to vllm.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/vllm.py
  tests/common.py
Labels: testing, refactor

#2163 refactor: remove deprecated argument of generate_data() `logger`
  src/instructlab/data/generate.py
Labels: one-approval

#2105 ci: improve merge commit content
  .github/mergify.yml
Labels: CI/CD

#2172 chore: explain why free-disk-space is linux only
  .github/workflows/test.yml
Labels: CI/CD

#2174 amend release strategy
  docs/release-strategy.md
Labels: documentation, one-approval
