Repository instructlab/instructlab, pull requests merged in 2024-04, with the labels that each got.

#921 changing default model to instructlab model
  README.md
  TROUBLESHOOTING.md
  docs/demo-slides.md
  notebooks/Training_a_LoRA_With_Instruct_Lab.ipynb
  src/instructlab/config.py
  src/instructlab/generator/utils.py
  src/instructlab/lab.py
  tests/test_config.py
Labels: documentation, testing

#962 tests: fix test file system not isolated
  tests/test_lab_generate.py
Labels: testing

#915 Update default taxonomy repo
  README.md
  src/instructlab/config.py
Labels: documentation

#954 Use matrix configuration for tox
  .github/workflows/test.yml
  CONTRIBUTING/CONTRIBUTING.md
  Makefile
  tox.ini
Labels: documentation

#952 Use pytest fixture to mock mlx package
  tests/conftest.py
  tests/test_lab_train.py
Labels: testing

#945 tests: fix input data file contents
  tests/test_lab_train.py
Labels: testing

#944 spell: don't be greedy when ignoring backtick fences
  .spellcheck-en-custom.txt
  .spellcheck.yml
  CONTRIBUTING/CONTRIBUTING.md
  MAINTAINERS/STABLE.md
  README.md
  TROUBLESHOOTING.md
  containers/rocm/README.md
  docs/containerization.md
  docs/converting_GGUF.md
  docs/demo-slides.md
  docs/gpu-acceleration.md
  src/instructlab/train/lora_mlx/README.md
Labels: documentation

#925 fix: ignore SIGINT when running the temp server
  scripts/functional-tests.sh
  src/instructlab/server.py
Labels: testing

#946 tests: Remove redundant __init__s
  tests/test_lab_diff.py
  tests/test_lab_train.py
Labels: testing

#971 Doc: Document key pair size in cli
  README.md
Labels: documentation

#923 Replace Black with Ruff
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .spellcheck.yml
  Makefile
  pyproject.toml
  scripts/fmt.sh
  scripts/ruff.sh
  src/instructlab/generator/generate_data.py
  src/instructlab/llamacpp/llamacpp_convert_to_gguf.py
  src/instructlab/train/lora_mlx/make_data.py
  src/instructlab/train/lora_mlx/prepare_model.py
  tests/test_utils.py
  tox.ini
Labels: testing

#929 Restore the note about regen.json
  README.md
Labels: documentation

#986 ci: Update labeler.yml with additional files/labels
  .github/labeler.yml
Labels: CI/CD

#924 fix: openai and http log level
  scripts/functional-tests.sh
  src/instructlab/lab.py
Labels: testing

#995 fix: force aspell spellchecker
  tox.ini
Labels: testing

#988 Prefer https over git and ssh protocols for repo cloning.
  Makefile
  README.md
  containers/cuda/Containerfile
  docs/containerization.md
  docs/demo-slides.md
  docs/gpu-acceleration.md
Labels: documentation

#991 docs: add additional badges to README
  README.md
Labels: documentation

#1000 ci: add stale issue/PR bot
  .github/workflows/stale_bot.yml
Labels: CI/CD

#984 Test with multiple Python versions
  .github/workflows/test.yml
  tox.ini
Labels: testing

#1013 ci: add markdown linter
  .github/workflows/docs.yml
  .markdownlint-cli2.yaml
  .spellcheck-en-custom.txt
  CONTRIBUTING/CONTRIBUTING.md
  CONTRIBUTING/FIRST_TIME_CONTRIBUTORS.md
  MAINTAINERS/STABLE.md
  Makefile
  README.md
  SECURITY.md
  containers/rocm/README.md
  docs/demo-slides.md
  docs/gpu-acceleration.md
  notebooks/README.md
  src/instructlab/generator/README.md
  src/instructlab/mlx_explore/README.md
  src/instructlab/train/lora_mlx/models/README.md
Labels: documentation, CI/CD

#1002 Support serve + chat + generate with Mixtral teacher model
  src/instructlab/generator/generate_data.py
  src/instructlab/lab.py
  src/instructlab/server.py
  src/instructlab/train/linux_train.py
  tests/test_lab_generate.py
  tests/test_lab_train.py
Labels: testing

#982 Docs: Add install python packages on mac
  README.md
Labels: documentation

#928 Ensure we found some knowledge
  src/instructlab/utils.py
Labels: bug

#1052 mergify: Allow merging on release branches
  .github/mergify.yml
Labels: CI/CD

#1051 Run CI jobs on release branches
  .github/mergify.yml
  .github/workflows/actionlint.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/pypi.yaml
  .github/workflows/spellcheck.yaml
  .github/workflows/test.yml
Labels: CI/CD

#1056 Automatically apply a backport label to release branch PRs
  .github/mergify.yml
Labels: CI/CD

#969 Chunk docs on spaces for really long lines
  src/instructlab/utils.py
  tests/test_utils.py
  tests/testdata/testdata.py
Labels: testing
