Repository instructlab/instructlab, pull requests merged in 2024-12, with the labels that each got.

#2723 Add disk check after tests run
  .github/workflows/e2e-aws-custom.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD, one-approval

#2722 Update to latest ami default volume size
  scripts/infra/cloud-instance.sh
Labels: one-approval

#2738 ci: add disk check to script
  scripts/e2e-ci.sh
Labels: CI/CD

#2710 fix: ensure student model path is passed
  src/instructlab/cli/data/generate.py
Labels: one-approval

#2711 add hf_transfer
  README.md
Labels: documentation, one-approval

#2745 Adding separate phased learning rate options and defaults
  src/instructlab/cli/model/train.py
  src/instructlab/configuration.py
  src/instructlab/model/accelerated_train.py
  tests/testdata/default_config.yaml
Labels: testing

#2742 Update README.md
  README.md
Labels: documentation, one-approval

#2713 Introduce Metadata to the config.yaml
  src/instructlab/config/init.py
  src/instructlab/configuration.py
  src/instructlab/profiles/amd/cpu.yaml
  src/instructlab/profiles/apple/m1/m1_max.yaml
  src/instructlab/profiles/apple/m1/m1_ultra.yaml
  src/instructlab/profiles/apple/m2/m2.yaml
  src/instructlab/profiles/apple/m2/m2_max.yaml
  src/instructlab/profiles/apple/m2/m2_pro.yaml
  src/instructlab/profiles/apple/m2/m2_ultra.yaml
  src/instructlab/profiles/apple/m3/m3.yaml
  src/instructlab/profiles/apple/m3/m3_max.yaml
  src/instructlab/profiles/apple/m3/m3_pro.yaml
  src/instructlab/profiles/intel/cpu.yaml
  src/instructlab/profiles/intel/gaudi/gaudi_3.yaml
  src/instructlab/profiles/nvidia/a100/a100_x2.yaml
  src/instructlab/profiles/nvidia/a100/a100_x4.yaml
  src/instructlab/profiles/nvidia/a100/a100_x8.yaml
  src/instructlab/profiles/nvidia/h100/h100_x2.yaml
  src/instructlab/profiles/nvidia/h100/h100_x4.yaml
  src/instructlab/profiles/nvidia/h100/h100_x8.yaml
  src/instructlab/profiles/nvidia/l4/l4_x8.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x4.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x8.yaml
  tests/test_lab_init.py
  tests/testdata/default_config.yaml
Labels: testing, ci-failure

#2704 Add skills only training strategy
  CHANGELOG.md
  README.md
  scripts/e2e-ci.sh
  src/instructlab/cli/model/train.py
  src/instructlab/configuration.py
  src/instructlab/model/accelerated_train.py
  tests/test_lab_train.py
Labels: documentation, testing

#2751 Fix learning rate override log
  src/instructlab/model/accelerated_train.py
Labels: ci-failure

#2759 Fix: `test_bind_port` consistently failing on MacOS runner
  scripts/functional-tests.sh
Labels: testing, one-approval

#2758 Do not store SKU in printed menu
  src/instructlab/config/init.py
  tests/test_lab_init.py
Labels: testing

#2756 fix: don't error out if serve/chat model don't match
  scripts/functional-tests.sh
  src/instructlab/model/chat.py
Labels: testing

#2771 Revert "e2e: Use fork of wait-for-status-checks action with needed fix"
  .github/workflows/status-checks.yml
Labels: CI/CD, one-approval, tech-debt

#2767 fix: Require `instructlab-sdg>=0.6.2` to resolve dependency issues + require `pydantic<=2.9.2`
  requirements.txt
  tox.ini
Labels: testing, CI/CD, one-approval, dependencies

#2725 add a model exist check for backend
  src/instructlab/model/backends/backends.py
  tests/common.py
  tests/test_backends.py
Labels: testing, one-approval

#2770 core: update project description
  pyproject.toml
Labels: one-approval

#2769 Fixing typo
  scripts/e2e-ci.sh
  src/instructlab/config/init.py
Labels: one-approval

#2743 feat: Create an XL t-shirt size e2e job
  .github/workflows/e2e-nvidia-l40s-x8.yml
  README.md
  docs/ci.md
  scripts/e2e-ci.sh
  scripts/e2e-custom.sh
  scripts/test-data/compositional_skills/freeform/e2e-qna-freeform-palindrome-skill.yaml
  scripts/test-data/compositional_skills/freeform/e2e-qna-freeform-siblings-skill.yaml
  scripts/test-data/compositional_skills/grounded/e2e-qna-grounded-employee-skill.yaml
  scripts/test-data/compositional_skills/grounded/e2e-qna-grounded-punctuation.yaml
  scripts/test-data/knowledge/e2e-qna-knowledge-mbta.yaml
  scripts/test-data/knowledge/e2e-qna-knowledge-phoenix.yaml
  scripts/test-data/knowledge/e2e-qna-knowledge.yaml
  scripts/test-data/profile-l40s-x8.yaml
Labels: documentation, CI/CD

#2788 deps: Cap dependencies for 0.22 release
  requirements.txt
Labels: release-branch, dependencies

#2789 Add legacy template override option to general config
  src/instructlab/cli/data/generate.py
  src/instructlab/configuration.py
  tests/testdata/default_config.yaml
Labels: testing, one-approval

#2648 add --host and --port for serve
  scripts/functional-tests.sh
  src/instructlab/cli/model/serve.py
  src/instructlab/configuration.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/chat.py
  src/instructlab/model/serve_backend.py
  src/instructlab/utils.py
  tests/test_config.py
  tests/test_lab_serve.py
  tests/test_utils.py
  tests/testdata/default_config.yaml
Labels: testing

#2419 add a setup ilab script for macos
  scripts/ilab-macos-installer.sh
  tests/conftest.py
  tests/test_macos_install.py
Labels: documentation, testing, one-approval

#2811 update CHANGELOG for serve
  CHANGELOG.md
Labels: documentation, one-approval

#2802 fix: update nomination template from "CLI" to "Core"
  .github/ISSUE_TEMPLATE/team_recommend.md
Labels: one-approval

#2782 fix: Fix typo in filename for XL e2e job + revert back to `getopts` in the e2e CI script
  .github/workflows/e2e-nvidia-l40s-x8.yml
  scripts/e2e-ci.sh
  scripts/test-data/compositional_skills/grounded/e2e-qna-grounded-punctuation-skill.yaml
Labels: documentation, testing, CI/CD, one-approval, dependencies

#2775 Update epel install to more consistent mechanism
  scripts/infra/nvidia-setup.sh
Labels: one-approval

#2815 amend A100 profile SKUs
  src/instructlab/config/init.py
  src/instructlab/profiles/nvidia/a100/a100_x2.yaml
  src/instructlab/profiles/nvidia/a100/a100_x4.yaml
  src/instructlab/profiles/nvidia/a100/a100_x8.yaml
  src/instructlab/utils.py
  tests/test_lab_init.py
Labels: testing

#2823 fix: Correct invalid YAML test file formats and add YAML linting stage to CI
  .github/workflows/lint.yml
  .yamllint.yaml
  scripts/test-data/compositional_skills/freeform/e2e-qna-freeform-palindrome-skill.yaml
  scripts/test-data/compositional_skills/grounded/e2e-qna-grounded-employee-skill.yaml
  scripts/test-data/compositional_skills/grounded/e2e-qna-grounded-punctuation-skill.yaml
  scripts/test-data/knowledge/e2e-qna-knowledge-mbta.yaml
  tox.ini
Labels: testing, CI/CD, one-approval

#2827 handle the /usr/local/bin no permission issue
  scripts/ilab-macos-installer.sh
Labels: one-approval

#2732 Change the way how GGUF model directory is checked
  src/instructlab/utils.py
Labels: one-approval
