Repository instructlab/instructlab, pull requests merged in 2024-05, with the labels that each got.

#1064 fix: Add hf-token default to fix checking error
  src/instructlab/lab.py
Labels: bug

#978 fix: remove useless nc command
  scripts/functional-tests.sh
Labels: testing

#1078 README.md: s/Instruct-Lab/InstructLab/
  README.md
Labels: documentation

#1074 feat: use labels to trigger backports
  .github/mergify.yml
Labels: CI/CD

#1077 Fix container build on machines without avx
  containers/cuda/Containerfile
Labels: container

#1081 mergify: Rename backport label to release-branch
  .github/mergify.yml
Labels: CI/CD

#1057 docs: update `STABLE.md` location and content
  .spellcheck-en-custom.txt
  docs/STABLE.md
Labels: documentation, CI/CD

#1083 Update the --model arg
  README.md
Labels: documentation

#1095 feat: add a welcome message to our server root
  scripts/functional-tests.sh
  src/instructlab/server.py
Labels: testing

#1039 feat: run functional test on MacOS
  .github/workflows/test.yml
  .spellcheck-en-custom.txt
  CONTRIBUTING/CONTRIBUTING.md
  scripts/functional-tests.sh
Labels: documentation, testing, CI/CD

#1100 ci: fix macos job
  scripts/functional-tests.sh
Labels: testing

#1099 docs: replace 0.13.0 demo badge with current release badge
  README.md
Labels: documentation

#1104 Minor update to README.md
  README.md
Labels: documentation

#1101 docs: missing space
  README.md
Labels: documentation

#1016 Introduce an end-to-end CI job on Linux
  .github/actionlint.yaml
  .github/workflows/e2e.yml
  docs/ci.md
  scripts/basic-workflow-tests.sh
  scripts/test-data/basic-workflow-fixture-qna.yaml
Labels: documentation, testing, CI/CD

#1105 Add Bug and Feature templates for new issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .markdownlint-cli2.yaml
Labels: CI/CD

#985 Document release strategy for Instructlab CLI
  .spellcheck-en-custom.txt
  docs/release-strategy.md
Labels: documentation, CI/CD

#1086 Do test builds of the cuda image in CI
  .github/workflows/image-cuda.yml
  containers/cuda/Containerfile
Labels: container

#1115 Docs: Improve instructions for hardware acceleration
  .spellcheck-en-custom.txt
  README.md
  docs/containerization.md
  docs/demo-slides.md
  docs/gpu-acceleration.md
Labels: documentation, CI/CD

#1088 fix: cleaner message when generate dir is empty
  src/instructlab/lab.py
  tests/test_lab_train.py
Labels: testing

#1119 minor change
  README.md
Labels: documentation

#966 Intel Gaudi / Habana Labs HPU support
  .spellcheck-en-custom.txt
  Makefile
  containers/hpu/Containerfile
  docs/habana-gaudi.md
  pyproject.toml
  requirements-hpu.txt
  requirements.txt
  src/instructlab/lab.py
  src/instructlab/train/linux_train.py
  tests/test_lab_train.py
Labels: documentation, testing, CI/CD, container

#1122 Revert "Intel Gaudi / Habana Labs HPU support"
  .spellcheck-en-custom.txt
  Makefile
  containers/hpu/Containerfile
  docs/habana-gaudi.md
  pyproject.toml
  requirements-hpu.txt
  requirements.txt
  src/instructlab/lab.py
  src/instructlab/train/linux_train.py
  tests/test_lab_train.py
Labels: documentation, testing, CI/CD, container

#1125 Do not cache llama-cpp-python builds
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  requirements.txt
  tests/test_lab.py
Labels: testing

#1128 Reapply "Intel Gaudi / Habana Labs HPU support"
  .spellcheck-en-custom.txt
  Makefile
  containers/hpu/Containerfile
  docs/habana-gaudi.md
  pyproject.toml
  requirements-hpu.txt
  requirements.txt
  src/instructlab/lab.py
  src/instructlab/train/linux_train.py
  tests/test_lab_train.py
Labels: documentation, testing, CI/CD, container

#1135 Use pytest instead of unittest.TestCase
  tests/test_config.py
  tests/test_lab.py
  tests/test_lab_diff.py
  tests/test_lab_download.py
  tests/test_lab_generate.py
  tests/test_lab_init.py
  tests/test_lab_train.py
  tests/test_utils.py
Labels: testing

#1137 Refactor CliRunner tests
  src/instructlab/lab.py
  tests/test_lab_diff.py
  tests/test_lab_download.py
  tests/test_lab_generate.py
  tests/test_lab_init.py
  tests/test_lab_train.py
Labels: testing

#1140 Fix a minor typo in the troubleshooting guide
  TROUBLESHOOTING.md
Labels: documentation

#1089 docs: add inline mermaid diagram of basic workflow
  README.md
Labels: documentation

#1142 ilab: Document how to enable tab completion
  .spellcheck-en-custom.txt
  README.md
Labels: documentation, CI/CD

#1133 Issue 1132 - Suggested improvements to "Welcome to the InstructLab CLI"
  README.md
Labels: documentation

#1092 fix: handle incorrect log level
  requirements-dev.txt
  src/instructlab/config.py
  tox.ini
Labels: testing, CI/CD

#1149 README.md: Fix a typo
  README.md
Labels: documentation

#1155 fix: add unit test for config log level
  tests/test_config.py
Labels: testing

#959 diff: Rework --quiet logic and handle file without needing --quiet
  src/instructlab/lab.py
  tests/taxonomy.py
  tests/test_lab_diff.py
Labels: testing

#949 chat: fix AttributeError crash on -qq with short context
  scripts/functional-tests.sh
  src/instructlab/chat/chat.py
Labels: testing

#1147 Change mergify automation to require 2 approving reviews for auto-merge
  .github/mergify.yml
Labels: CI/CD

#1163 Fix PyPI release issues
  .github/workflows/pypi.yaml
  docs/habana-gaudi.md
  pyproject.toml
  requirements-hpu.txt
Labels: documentation, CI/CD

#1169 mergify: Automate a label for CI failures
  .github/mergify.yml
Labels: CI/CD

#1175 docs: make document structure more consistent
  CONTRIBUTOR_ROLES.md
  containers/README.md
  governance.md
Labels: documentation, container

#1173 Docs: Making fixes in README
  README.md
Labels: documentation

#1178 ci: add 'one-approval' label on PR that has one approval
  .github/mergify.yml
Labels: CI/CD

#1191 README.md: Add a build note for Intel Macs
  README.md
Labels: documentation, one-approval

#1189 Create issue template for nominating members for teams
  .github/ISSUE_TEMPLATE/team_recommend.md
Labels: one-approval

#1177 docs: update habana-gaudi.md
  docs/habana-gaudi.md
Labels: documentation, one-approval

#1154 Add `ilab sysinfo` command
  scripts/functional-tests.sh
  src/instructlab/lab.py
  src/instructlab/sysinfo.py
Labels: testing, one-approval

#1188 fix: add chat module to linting and fix errors
  src/instructlab/chat/__init__.py
  src/instructlab/chat/chat.py
  src/instructlab/client.py
Labels: testing

#1172 fix: update make help text
  Makefile
Labels: one-approval

#1012 More efficiently use diskspace
  src/instructlab/lab.py
  tests/test_lab_train.py
Labels: testing, one-approval

#1195 fix: do not fail when sending 'exit' to the chat
  scripts/functional-tests.sh
  src/instructlab/chat/chat.py
Labels: testing, one-approval

#1161 Update llama_cpp_python version to 0.2.75
  requirements.txt
  scripts/functional-tests.sh
  src/instructlab/chat/chat.py
Labels: testing

#1201 Fix CUDA path to account for update
  .github/workflows/e2e.yml
Labels: one-approval

#1210 Docs: Fix converted output
  README.md
Labels: documentation

#987 Add ARM64 support to the Containerfile example
  containers/README.md
  containers/cuda/Containerfile
Labels: documentation, container, one-approval

#1193 use actual converted file name
  src/instructlab/lab.py
  src/instructlab/llamacpp/llamacpp_convert_to_gguf.py
  tests/test_lab_train.py
Labels: testing, one-approval

#1179 feat: redirect llama_cpp server stderr/stdout to a logger
  src/instructlab/lab.py
  src/instructlab/log.py
  src/instructlab/server.py
  src/instructlab/utils.py
Labels: one-approval

#1174 Extract model_family from model_path automatically by default.
  src/instructlab/config.py
  src/instructlab/generator/generate_data.py
  src/instructlab/lab.py
  src/instructlab/server.py
Labels: testing, one-approval

#1214 docs: Update install for pypi package
  README.md
Labels: documentation

#1207 docs: update release documentation
  .spellcheck-en-custom.txt
  docs/STABLE.md
  docs/release-strategy.md
Labels: documentation, CI/CD

#1069 Enforce maximum length in generate seed examples
  src/instructlab/generator/generate_data.py
  src/instructlab/utils.py
  tests/test_lab_generate.py
  tests/testdata/skill_too_long_answer.yaml
Labels: testing, one-approval

#1102 Validate the existence of the model specified in --model
  scripts/functional-tests.sh
  src/instructlab/chat/chat.py
  src/instructlab/config.py
  src/instructlab/generator/utils.py
  src/instructlab/lab.py
  tests/test_config.py
Labels: testing

#1237 fix ilab chat run /h command failed issue
  src/instructlab/chat/chat.py
Labels: one-approval

#1063 Update README with new download features and flags
  README.md
Labels: documentation
