Repository instructlab/instructlab, pull requests merged in 2024-09, with the labels that each got.

#2183 ci: add AWS tag to show github ref for all jobs
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-a10g-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD, one-approval

#2185 github: update bug template to use `ilab system info`
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: one-approval

#2060 chore: remove unecessary @model_validator
  src/instructlab/configuration.py
  tests/test_config.py
  tests/testdata/default_config.yaml
Labels: testing, dependencies

#2191 ci: add GitHubPR to AWS labels
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-a10g-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD, one-approval

#2195 tests: add test to ensure all config options have descriptions
  tests/test_config.py
Labels: testing

#2198 e2e: only run PR job if certain files are changed
  .github/mergify.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD

#2199 ci: add Slack notification step to nvidia-a10g-x4 job
  .github/workflows/e2e-nvidia-a10g-x4.yml
  docs/ci.md
Labels: documentation, CI/CD

#2207 cloud-instance.sh: Document terminate command
  scripts/infra/cloud-instance.sh
Labels: one-approval

#2204 cleanup: adjustments to minimal E2E job
  .github/workflows/e2e-nvidia-a10g-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  docs/ci.md
  scripts/basic-workflow-tests.sh
Labels: documentation, CI/CD

#2210 Removed out-of-date What's new section in README.md (issue #2187)
  README.md
Labels: documentation, one-approval

#2202 chore: replace platformdirs with xdg-base-dirs
  CHANGELOG.md
  README.md
  requirements.txt
  scripts/functional-tests.sh
  src/instructlab/configuration.py
  tests/test_config.py
Labels: documentation, testing, dependencies

#2212 refactor: move free_tcp_ipv4_port() to common
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/common.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
  tests/test_backends.py
Labels: testing, one-approval

#2216 refactor: move safe_close_all() to common
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/common.py
  src/instructlab/model/backends/vllm.py
Labels: one-approval

#2184 fix: remove unnecessary default lambda
  src/instructlab/configuration.py
  src/instructlab/data/generate.py
  src/instructlab/model/train.py
  tests/testdata/default_config.yaml
Labels: testing

#2215 refactor: adjust slack messages to add link to job
  .github/workflows/e2e-nvidia-a10g-x4.yml
Labels: CI/CD

#2017 refactor: don't catch click.Error and then ctx.exit()
  src/instructlab/config/init.py
Labels: one-approval

#2226 README: Add a note about the `python3` binary.
  README.md
Labels: documentation, one-approval

#2234 refactor: run E2E cron job once a day instead of twice
  .github/workflows/e2e-nvidia-a10g-x4.yml
Labels: CI/CD, one-approval

#2165 refactor: remove unused argument prompt_file_path
  src/instructlab/configuration.py
  src/instructlab/data/generate.py
  tests/test_config.py
  tests/testdata/default_config.yaml
Labels: testing

#2241 refactor: remove unused argument rouge_threshold
  CHANGELOG.md
  TROUBLESHOOTING.md
  src/instructlab/data/generate.py
Labels: documentation

#2243 README: Fix typos in the output of the `ilab model chat`.
  README.md
Labels: documentation, one-approval

#2239 ux: update training profile prompts for clarity
  README.md
  src/instructlab/config/init.py
Labels: documentation

#2201 feat: use default and description from Pydantic model
  src/instructlab/clickext.py
  src/instructlab/data/generate.py
  src/instructlab/model/chat.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/serve.py
  src/instructlab/model/train.py
  tests/test_config.py
  tests/test_lab.py
Labels: testing

#2248 testing: cleanup functional test script, test action, and testing documentation
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/test.yml
  .spellcheck-en-custom.txt
  docs/ci.md
  scripts/functional-tests.sh
Labels: documentation, testing, CI/CD

#2250 refactor: move shutdown_process to vllm.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/vllm.py
  tests/test_lab_serve.py
Labels: testing, one-approval

#2259 fix: test_cli_params_hyphenated
  tests/test_lab.py
Labels: testing

#2263 Fixing typos
  src/instructlab/configuration.py
  src/instructlab/log.py
  src/instructlab/model/serve.py
  tests/test_lab_serve.py
  tests/testdata/default_config.yaml
Labels: testing, one-approval

#2251 fix: report server errors for chat/generate/eval
  scripts/functional-tests.sh
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/chat.py
Labels: testing, one-approval

#2282 Fix spelling mistake in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: one-approval

#2214 Deprecate aliased commands
  CHANGELOG.md
  pyproject.toml
  scripts/functional-tests.sh
  src/instructlab/clickext.py
  tests/test_lab.py
  tests/test_lab_config.py
  tests/test_lab_init.py
Labels: documentation, testing, CI/CD

#1961 Refactor the CUDA container spec
  Makefile
  containers/README.md
  containers/cuda/Containerfile
  containers/cuda/intel-oneapi.repo
Labels: container, one-approval

#2211 Intel Gaudi: update to 1.17.1 with Python 3.11
  CHANGELOG.md
  Makefile
  containers/hpu/Containerfile
  docs/habana-gaudi.md
  requirements.txt
  requirements/hpu.txt
  src/instructlab/train/linux_train.py
  tests/test_package.py
Labels: documentation, testing, container, dependencies

#2293 chore: disable too many positional arguments check
  .github/workflows/lint.yml
  .pylintrc
Labels: CI/CD

#1609 e2e: Add a custom paramaterized workflow
  .github/workflows/e2e-aws-custom.yml
Labels: testing, CI/CD

#2296 update note for apple m installation
  README.md
Labels: documentation

#2208 feat: train profile auto selection
  CHANGELOG.md
  src/instructlab/config/init.py
  src/instructlab/configuration.py
  tests/test_lab_init.py
Labels: documentation, testing, dependencies

#2292 cloud-instance.sh: Add ssh config management
  scripts/infra/cloud-instance.sh
Labels: one-approval

#2298 docs: Fix line break issue in Mermaid diagram in README.md
  README.md
Labels: documentation, one-approval

#2268 enhance gguf check
  src/instructlab/model/backends/backends.py
Labels: documentation, testing, one-approval

#2301 github: update PR template to account for dev docs
  .github/PULL_REQUEST_TEMPLATE.md
Labels: one-approval

#1741 feat: configurable log formatter
  .spellcheck-en-custom.txt
  CHANGELOG.md
  scripts/functional-tests.sh
  src/instructlab/configuration.py
  src/instructlab/log.py
  src/instructlab/model/serve.py
  tests/test_config.py
  tests/testdata/default_config.yaml
Labels: documentation, testing, CI/CD

#2065 Switch mmlu serving to be external the same as we do with mt_bench
  requirements.txt
  src/instructlab/configuration.py
  src/instructlab/model/evaluate.py
  tests/test_lab_evaluate.py
  tests/testdata/default_config.yaml
Labels: testing, dependencies, evaluation

#2315 fix:mmlu_branch external serving not using base model
  src/instructlab/model/evaluate.py
Labels: one-approval

#2318 fix: mismatch between trigger and merge CI criteria
  .github/mergify.yml
Labels: CI/CD

#2317 add cpu_branch for darwin
  src/instructlab/system/info.py
Labels: one-approval

#2144 Add auto max_workers capability
  .spellcheck-en-custom.txt
  CHANGELOG.md
  src/instructlab/configuration.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/train.py
  tests/test_config.py
  tests/test_lab_evaluate.py
  tests/testdata/default_config.yaml
Labels: documentation, testing, CI/CD, dependencies, evaluation

#2247 Rewrite Community Training
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-a10g-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  .spellcheck-en-custom.txt
  CHANGELOG.md
  docs/ci.md
  requirements.txt
  scripts/basic-workflow-tests.sh
  src/instructlab/configuration.py
  src/instructlab/model/full_train.py
  src/instructlab/model/train.py
  tests/test_lab_train.py
  tox.ini
Labels: documentation, testing, CI/CD, dependencies

#2302 add support for FSDP options
  requirements.txt
  requirements/cuda.txt
  src/instructlab/configuration.py
  src/instructlab/model/train.py
  tests/testdata/default_config.yaml
Labels: testing, dependencies

#2236 Implement phased training bookkeeping and better restarting
  .spellcheck-en-custom.txt
  CHANGELOG.md
  src/instructlab/configuration.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/phased_training.py
  src/instructlab/model/train.py
  tests/testdata/default_config.yaml
Labels: documentation, enhancement, testing, CI/CD

#2291 ci: new script for full workflow testing
  .github/workflows/e2e-nvidia-l40s-x4.yml
  docs/ci.md
  scripts/e2e.sh
  scripts/e2e_config_edit.py
  scripts/test-data/e2e-qna-knowledge-phoenix.yaml
  scripts/test-data/train-profile-l40s-x4.yaml
Labels: documentation, CI/CD

#2324 Fix workflow-complete jobs for use by status check jobs
  .github/mergify.yml
  .github/workflows/lint.yml
  .github/workflows/status-checks.yml
  .github/workflows/test.yml
Labels: CI/CD

#2307 :sparkles: Update _validate_documents to log file patterns and add error handling
  src/instructlab/utils.py
  tests/test_utils.py
  tests/testdata/knowledge_unsupported.yaml
  tests/testdata/knowledge_valid.yaml
  tests/testdata/temp_taxonomy_repo/docs/skill-wiki.md
  tests/testdata/temp_taxonomy_repo/knowledge-wiki.md
  tests/testdata/temp_taxonomy_repo/knowledge-wiki.pdf
Labels: testing

#2323 feat: add toggle for distributed backend training framework
  .spellcheck-en-custom.txt
  CHANGELOG.md
  src/instructlab/clickext.py
  src/instructlab/configuration.py
  src/instructlab/model/train.py
  tests/testdata/default_config.yaml
Labels: documentation, testing, CI/CD, dependencies

#2335 docs: Document Current State of Training
  README.md
Labels: documentation, one-approval
