Repository instructlab/instructlab, pull requests merged in 2024-10, with the labels that each got.

#2340 removes MMLU evaluation from multi-phase training
  src/instructlab/configuration.py
  src/instructlab/model/train.py
  tests/testdata/default_config.yaml
Labels: testing

#2316 feat: add full scores to mt-bench/mmlu-branch output
  requirements.txt
  src/instructlab/model/evaluate.py
  tests/test_lab_evaluate.py
Labels: testing, dependencies

#2346 Bump instructlab-training requirement to 0.5.0
  requirements.txt
  requirements/cuda.txt
Labels: one-approval, dependencies

#2349 cap instructlab libraries for 0.19 release
  requirements.txt
Labels: release-branch, dependencies

#2342 e2e: Restore using pull_request_target target for e2e workflow
  .github/mergify.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  .github/workflows/e2e-starter.yml
  docs/ci.md
Labels: documentation, CI/CD

#2350 ci: change subnet for e2e-nvidia-l40s-x4 job
  .github/workflows/e2e-nvidia-l40s-x4.yml
Labels: CI/CD, one-approval

#2355 ci: remove cuda image build for "stable" tag
  .github/workflows/image-cuda.yml
Labels: CI/CD, one-approval

#2348 Add step to fix Python version management tool issue
  README.md
Labels: bug, documentation, one-approval

#2084 fix: enable server log to file
  scripts/functional-tests.sh
  src/instructlab/configuration.py
  src/instructlab/defaults.py
  src/instructlab/log.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/server.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/chat.py
  src/instructlab/model/serve.py
  tests/test_backends.py
  tests/test_lab_model_test.py
Labels: testing

#2375 chore: remove out-of-date runner config file and lint trigger
  .github/actionlint.yaml
  .github/workflows/lint.yml
Labels: CI/CD

#2382 full train fixes
  src/instructlab/model/full_train.py
Labels: one-approval

#2392 fix: AMD should not trigger auto detection
  src/instructlab/config/init.py
Labels: one-approval

#2389 fix: allow skopeo copy output to show up on terminal
  src/instructlab/model/download.py
Labels: one-approval

#2396 train profile auto detection uses values from code not disk
  src/instructlab/config/init.py
  src/instructlab/configuration.py
Labels: one-approval

#2386 fix: Remove mentions of discontinued aliases from the README file
  README.md
Labels: documentation, one-approval

#2260 refactor: move UvicornServer & co to llama_cpp.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/llama_cpp.py
Labels: one-approval

#2390 Update README with new eval output
  README.md
Labels: documentation, one-approval

#2404 refactor: move is_temp_server_running() to common.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/backends/common.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/chat.py
Labels: one-approval

#2407 chore: remove 'also' from init text
  src/instructlab/config/init.py
Labels: one-approval

#2412 e2e: Use fork of wait-for-status-checks action with needed fix
  .github/workflows/status-checks.yml
Labels: CI/CD, one-approval

#2409 fix: Add dependency on instructlab-training for ROCm
  requirements/rocm.txt
Labels: dependencies

#2414 fix: mismatch between requirements action trigger and automerge criteria
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: CI/CD, one-approval

#2416 ci: add disk check step and update AMI for all e2e runners
  .github/workflows/e2e-aws-custom.yml
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD

#2421 ci: use FSDP distributed backend for training in L40sx4 job
  scripts/test-data/train-profile-l40s-x4.yaml
Labels: one-approval

#2426 Update readme noting lack of mmlu gguf support
  README.md
Labels: documentation, one-approval

#2383 e2e: update jobs, scripting, and documentation to support Medium job running on PRs
  .github/mergify.yml
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  README.md
  docs/ci.md
  docs/images/instructlab-ci-ecosystem.png
  scripts/basic-workflow-tests.sh
  scripts/e2e-ci.sh
  scripts/e2e.sh
  scripts/test-data/train-profile-a10g-x1.yaml
Labels: documentation, CI/CD

#2441 fix: mergify shouldn't require lint when script shell files are changed
  .github/mergify.yml
  .github/workflows/e2e-nvidia-a10g-x1.yml
Labels: CI/CD

#2428 Add explicit error message for gguf with mmlu
  src/instructlab/model/evaluate.py
  tests/test_lab_evaluate.py
Labels: testing

#2447 chore: rename `basic-workflow-tests.sh` to `e2e-custom.sh`
  .github/workflows/e2e-aws-custom.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  docs/ci.md
  scripts/e2e-custom.sh
Labels: documentation, CI/CD, ci-failure

#2452 ci: move small-size E2E job to use `e2e-ci.sh`
  docs/ci.md
  scripts/e2e-ci.sh
Labels: documentation

#2442 reformat output in README.md
  README.md
Labels: documentation, one-approval

#2387 list contexts
  src/instructlab/configuration.py
  src/instructlab/model/chat.py
  tests/test_model_chat.py
  tests/testdata/default_config.yaml
Labels: testing, one-approval

#2433 validate the safetensors file
  src/instructlab/utils.py
  tests/test_backends.py
Labels: testing

#2367 update the MacOS bash completion note
  README.md
Labels: documentation, one-approval

#2460 chore: add pipeline to train configuration
  scripts/e2e-ci.sh
  scripts/test-data/train-profile-l40s-x4.yaml
  src/instructlab/configuration.py
  src/instructlab/model/train.py
  tests/testdata/default_config.yaml
Labels: testing

#2464 chore: add device to train configuration
  scripts/e2e-ci.sh
  scripts/test-data/train-profile-l40s-x4.yaml
  src/instructlab/configuration.py
  src/instructlab/model/train.py
  tests/testdata/default_config.yaml
Labels: testing, one-approval

#2473 fix: adjust training defaults for laptop
  src/instructlab/configuration.py
  tests/testdata/default_config.yaml
Labels: testing

#2468 feat: Switch data generate and model download default behaviors
  .github/workflows/e2e-nvidia-t4-x1.yml
  .github/workflows/test.yml
  CHANGELOG.md
  scripts/e2e-custom.sh
  scripts/functional-tests.sh
  src/instructlab/config/init.py
  src/instructlab/configuration.py
  src/instructlab/defaults.py
  src/instructlab/model/download.py
  src/instructlab/model/linux_test.py
  src/instructlab/model/test.py
  tests/test_config.py
  tests/test_lab_download.py
  tests/testdata/default_config.yaml
Labels: documentation, testing, CI/CD, ci-failure

#2474 Make full train compatible with updated library
  src/instructlab/model/full_train.py
Labels: one-approval

#2478 Update Medium-size E2E CI job to use `full` SDG
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  docs/ci.md
  scripts/e2e-ci.sh
Labels: documentation, CI/CD, ci-failure

#2486 fix: medium e2e bug where generate points to repo not model
  scripts/e2e-ci.sh
Labels: documentation

#2487 fix: ilab config init improperly sets generate model
  src/instructlab/config/init.py
  tests/test_lab_config.py
Labels: testing

#2503 docs: fit & finish polish to contributing.md
  CONTRIBUTING/CONTRIBUTING.md
Labels: documentation, one-approval

#2462 Setting proper amount of RAM for L40s and creating config for single A100
  src/instructlab/configuration.py
Labels: one-approval

#2494 docs: fix some things in ci.md
  docs/ci.md
Labels: documentation

#2104 Prefer CMAKE_ARGS="-DLLAMA_XXX=yyy" pip install instructlab... instead of pip install instructlab... -C cmake.args="-DLLAMA_XXX=yyy"
  .spellcheck-en-custom.txt
  README.md
Labels: documentation, testing, CI/CD, dependencies

#2501 enhance read_config
  src/instructlab/configuration.py
Labels: one-approval

#2515 fix: sphnix doc build needed updated myst config
  docs/conf.py
Labels: documentation

#2530 Update e2e custom zone to allow g6e instance types
  .github/workflows/e2e-aws-custom.yml
Labels: CI/CD

#2532 Bump ami to include cudnn9 and nvrtc
  .github/workflows/e2e-nvidia-a10g-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  scripts/infra/cloud-instance.sh
  scripts/infra/nvidia-setup.sh
Labels: CI/CD, one-approval

#2518 Fix typo
  src/instructlab/cli/model/train.py
Labels: one-approval

#2502 robust check for oci repo
  src/instructlab/utils.py
Labels: one-approval

#2536 CI: update OCI model download test to pull from instructlab quay org
  scripts/functional-tests.sh
Labels: testing, one-approval

#2534 fix: allow OCI model folders
  src/instructlab/model/download.py
Labels: one-approval

#2535 ci: E2E jobs now use GitHub var for AWS AMI and run `pip install` in verbose mode
  .github/mergify.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  README.md
  docs/ci.md
Labels: documentation, CI/CD

#2467 split `ilab model serve` click cmds from functionality
  pyproject.toml
  src/instructlab/cli/model/serve.py
  src/instructlab/model/backends/common.py
  src/instructlab/model/serve.py
  src/instructlab/model/serve_backend.py
  tests/test_backends.py
  tests/test_lab_serve.py
Labels: testing

#2443 reformat the config init output
  src/instructlab/config/init.py
Labels: one-approval

#2528 deps: update vllm tag to v0.6.2
  CHANGELOG.md
  README.md
  containers/cuda/Containerfile
  requirements-vllm-cuda.txt
  requirements.txt
Labels: documentation, CI/CD, container, one-approval, dependencies

#2541 update ilab config init output
  README.md
Labels: documentation, CI/CD, one-approval

#2445 chore!: Update PyTorch to 2.4
  docs/gpu-acceleration.md
  notebooks/Training_a_LoRA_With_Instruct_Lab.ipynb
Labels: documentation, one-approval, dependencies

#2438 Update to Intel Gaudi software 1.18.0.524
  CHANGELOG.md
  containers/hpu/Containerfile
  docs/habana-gaudi.md
  requirements/hpu.txt
Labels: documentation, CI/CD, container, dependencies

#2547 Add phased training unit test
  src/instructlab/model/accelerated_train.py
  src/instructlab/model/phased_training.py
  tests/test_lab_train.py
Labels: testing, one-approval

#2549 Fixing typos
  src/instructlab/model/accelerated_train.py
Labels: one-approval

#2548 Handle case where training can't be run
  src/instructlab/cli/model/train.py
  tests/test_lab_train.py
Labels: testing, one-approval

#2448 fix: switch vram approximation
  src/instructlab/config/init.py
  tests/test_lab_init.py
Labels: testing, one-approval

#2553 add link to PEFT
  notebooks/README.md
  src/instructlab/train/linux_train.py
Labels: one-approval

#2556 uppercase issue
  src/instructlab/model/download.py
Labels: one-approval

#2529 Phased training test
  scripts/e2e-ci.sh
  scripts/phased_training_resume.py
Labels: one-approval

#2557 fix vram approximation test
  tests/test_lab_init.py
Labels: testing

#2564 deps: cap instructlab libraries for 0.20 release
  requirements.txt
Labels: release-branch, dependencies
