Repository instructlab/instructlab, pull requests merged in 2024-11, with the labels that each got.

#2565 docs: update release guidance to include lib dep cap
  docs/release-strategy.md
Labels: documentation, one-approval

#2566 llama backend fix
  scripts/functional-tests.sh
  src/instructlab/cli/model/serve.py
  src/instructlab/model/backends/common.py
  tests/test_backends.py
  tests/test_config.py
Labels: testing

#2495 feat: System profiles
  scripts/e2e-ci.sh
  scripts/e2e_config_edit.py
  scripts/test-data/profile-l4-x1.yaml
  scripts/test-data/profile-l40s-x4.yaml
  scripts/test-data/profile-t4-x1.yaml
  scripts/test-data/train-profile-a10g-x1.yaml
  scripts/test-data/train-profile-l40s-x4.yaml
  src/instructlab/config/init.py
  src/instructlab/configuration.py
  src/instructlab/defaults.py
  src/instructlab/profiles/amd/cpu.yaml
  src/instructlab/profiles/apple/m1/m1_max.yaml
  src/instructlab/profiles/apple/m1/m1_ultra.yaml
  src/instructlab/profiles/apple/m2/m2.yaml
  src/instructlab/profiles/apple/m2/m2_max.yaml
  src/instructlab/profiles/apple/m2/m2_pro.yaml
  src/instructlab/profiles/apple/m2/m2_ultra.yaml
  src/instructlab/profiles/apple/m3/m3.yaml
  src/instructlab/profiles/apple/m3/m3_max.yaml
  src/instructlab/profiles/apple/m3/m3_pro.yaml
  src/instructlab/profiles/intel/cpu.yaml
  src/instructlab/profiles/nvidia/a100/a100_x2.yaml
  src/instructlab/profiles/nvidia/a100/a100_x4.yaml
  src/instructlab/profiles/nvidia/a100/a100_x8.yaml
  src/instructlab/profiles/nvidia/h100/h100_x2.yaml
  src/instructlab/profiles/nvidia/h100/h100_x4.yaml
  src/instructlab/profiles/nvidia/h100/h100_x8.yaml
  src/instructlab/profiles/nvidia/l4/l4_x8.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x4.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x8.yaml
  src/instructlab/profiles/test_train.yaml
  tests/test_config.py
  tests/test_lab_init.py
Labels: testing

#2466 [Docs] Revamping the InstructLab README
  .spellcheck-en-custom.txt
  README.md
Labels: documentation, CI/CD

#2572 System profiles autodetection
  CHANGELOG.md
  src/instructlab/config/init.py
  tests/test_lab_init.py
Labels: documentation, testing

#2579 Introduce config schema for Intel Gaudi
  CHANGELOG.md
  src/instructlab/profiles/intel/gaudi/gaudi_3.yaml
  tests/test_lab_init.py
Labels: documentation, testing, one-approval

#2595 chore: add python deprecation notice to help and init
  src/instructlab/config/init.py
  src/instructlab/lab.py
Labels: release-branch, ci-failure

#2526 config: change default training backend to FSDP
  src/instructlab/configuration.py
  tests/testdata/default_config.yaml
Labels: testing

#2559 refactor: move http_client... to client_utils.py
  src/instructlab/cli/data/generate.py
  src/instructlab/client_utils.py
  src/instructlab/data/generate_data.py
  src/instructlab/model/backends/llama_cpp.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/chat.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/linux_test.py
  src/instructlab/utils.py
Labels: one-approval

#2543 optimize the list_datasets
  src/instructlab/cli/data/list.py
  tests/test_lab_data_list.py
Labels: testing, one-approval

#2594 fix: add proper devices to profiles
  src/instructlab/profiles/apple/m1/m1_max.yaml
  src/instructlab/profiles/apple/m1/m1_ultra.yaml
  src/instructlab/profiles/apple/m2/m2_max.yaml
  src/instructlab/profiles/apple/m2/m2_ultra.yaml
  src/instructlab/profiles/apple/m3/m3_max.yaml
  src/instructlab/profiles/nvidia/a100/a100_x2.yaml
  src/instructlab/profiles/nvidia/a100/a100_x4.yaml
  src/instructlab/profiles/nvidia/a100/a100_x8.yaml
  src/instructlab/profiles/nvidia/h100/h100_x2.yaml
  src/instructlab/profiles/nvidia/h100/h100_x4.yaml
  src/instructlab/profiles/nvidia/h100/h100_x8.yaml
  src/instructlab/profiles/nvidia/l4/l4_x8.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x4.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x8.yaml
Labels: one-approval

#2569 reformat the download output
  src/instructlab/model/download.py
  tests/test_lab_download.py
Labels: testing

#2377 update tox usage
  .spellcheck-en-custom.txt
  CONTRIBUTING/CONTRIBUTING.md
  CONTRIBUTING/FIRST_TIME_CONTRIBUTORS.md
Labels: documentation, CI/CD, one-approval

#2603 [Docs] Highlight InstructLab upgrading and reinitializing
  README.md
Labels: documentation

#2606 format the download example output
  README.md
Labels: documentation, one-approval

#2605 use default indent constant for download and init
  src/instructlab/config/init.py
  src/instructlab/defaults.py
  src/instructlab/model/download.py
Labels: one-approval

#2602 add -k option for show
  src/instructlab/config/show.py
  tests/test_lab_config.py
Labels: testing, one-approval

#2611 miss the terminal word
  README.md
Labels: documentation, one-approval

#2585 refactor: change default model from Merlinite to Granite
  CHANGELOG.md
  README.md
  TROUBLESHOOTING.md
  scripts/functional-tests.sh
  src/instructlab/clickext.py
  src/instructlab/configuration.py
  src/instructlab/defaults.py
  src/instructlab/model/backends/common.py
  src/instructlab/model/chat.py
  src/instructlab/model/download.py
  src/instructlab/profiles/apple/m1/m1_max.yaml
  src/instructlab/profiles/apple/m1/m1_ultra.yaml
  src/instructlab/profiles/apple/m2/m2.yaml
  src/instructlab/profiles/apple/m2/m2_max.yaml
  src/instructlab/profiles/apple/m2/m2_pro.yaml
  src/instructlab/profiles/apple/m2/m2_ultra.yaml
  src/instructlab/profiles/apple/m3/m3.yaml
  src/instructlab/profiles/apple/m3/m3_max.yaml
  src/instructlab/profiles/apple/m3/m3_pro.yaml
  src/instructlab/profiles/intel/cpu.yaml
  src/instructlab/train/lora_mlx/utils.py
  tests/test_config.py
  tests/test_lab_download.py
  tests/testdata/default_config.yaml
Labels: documentation, testing, refactor

#2616 add device field for intel gaudi config
  .github/mergify.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  src/instructlab/profiles/intel/gaudi/gaudi_3.yaml
Labels: CI/CD

#2573 cloud-instance: adding library syncing for InstructLab repos
  .spellcheck-en-custom.txt
  scripts/infra/README.md
  scripts/infra/cloud-instance.sh
  scripts/infra/local-setup.sh
Labels: CI/CD, one-approval

#2582 [Docs] Update documentation for system profiles and auto detection
  README.md
Labels: documentation, one-approval

#2610 add --without-comments option for show
  src/instructlab/config/show.py
  tests/test_lab_config.py
Labels: testing, one-approval

#2615 Fix Intel Auto-Detection and Profile Selection Menu
  src/instructlab/config/init.py
Labels: one-approval

#2634 bump SDG minimum version
  requirements.txt
  src/instructlab/data/generate_data.py
Labels: testing, dependencies

#2621 add custom handling for A100 System Profile
  src/instructlab/config/init.py
  tests/test_lab_init.py
Labels: testing, one-approval

#2638 Bump eval version to latest release
  requirements.txt
Labels: dependencies

#2618 expose max_num_tokens for SDG
  scripts/test-data/profile-l4-x1.yaml
  src/instructlab/cli/data/generate.py
  src/instructlab/configuration.py
  src/instructlab/data/generate_data.py
  src/instructlab/defaults.py
  tests/testdata/default_config.yaml
Labels: testing, dependencies

#2647 Don't fail fast when one of the unit/func test envs fails
  .github/workflows/test.yml
Labels: CI/CD

#2609 remove the space in init
  src/instructlab/config/init.py
Labels: one-approval

#2479 [Docs] Add InstructLab LLM guide to docs
  .spellcheck-en-custom.txt
  docs/instructlab_models.md
Labels: documentation, CI/CD

#2592 feat: add support for granite architecture models (granite-3.0)
  .spellcheck-en-custom.txt
  CHANGELOG.md
  requirements.txt
  requirements/cuda.txt
  requirements/rocm.txt
  src/instructlab/cli/data/generate.py
  src/instructlab/cli/model/train.py
  src/instructlab/common.py
  src/instructlab/configuration.py
  src/instructlab/data/generate_data.py
  src/instructlab/defaults.py
  src/instructlab/model/backends/common.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/chat.py
  src/instructlab/model/linux_test.py
  src/instructlab/model/test.py
  src/instructlab/train/linux_train.py
  src/instructlab/train/lora_mlx/make_data.py
  src/instructlab/utils.py
  tests/test_backends.py
  tests/test_model_chat.py
  tests/test_utils.py
Labels: documentation, testing, CI/CD, one-approval, dependencies

#2656 Fix add command to use var with sync-library
  scripts/infra/cloud-instance.sh
Labels: one-approval

#2655 [Docs] Update the LLM guide
  README.md
  docs/instructlab_models.md
Labels: documentation

#2540 feat: Add temperature setting to `ilab model chat`
  CHANGELOG.md
  README.md
  docs/index.rst
  scripts/test-data/profile-l4-x1.yaml
  scripts/test-data/profile-l40s-x4.yaml
  scripts/test-data/profile-t4-x1.yaml
  src/instructlab/configuration.py
  src/instructlab/model/chat.py
  src/instructlab/profiles/apple/m1/m1_max.yaml
  src/instructlab/profiles/apple/m1/m1_ultra.yaml
  src/instructlab/profiles/apple/m2/m2.yaml
  src/instructlab/profiles/apple/m2/m2_max.yaml
  src/instructlab/profiles/apple/m2/m2_pro.yaml
  src/instructlab/profiles/apple/m2/m2_ultra.yaml
  src/instructlab/profiles/apple/m3/m3.yaml
  src/instructlab/profiles/apple/m3/m3_max.yaml
  src/instructlab/profiles/apple/m3/m3_pro.yaml
  src/instructlab/profiles/intel/cpu.yaml
  src/instructlab/profiles/intel/gaudi/gaudi_3.yaml
  src/instructlab/profiles/nvidia/a100/a100_x2.yaml
  src/instructlab/profiles/nvidia/a100/a100_x4.yaml
  src/instructlab/profiles/nvidia/a100/a100_x8.yaml
  src/instructlab/profiles/nvidia/h100/h100_x2.yaml
  src/instructlab/profiles/nvidia/h100/h100_x4.yaml
  src/instructlab/profiles/nvidia/h100/h100_x8.yaml
  src/instructlab/profiles/nvidia/l4/l4_x8.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x4.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x8.yaml
  tests/test_config.py
  tests/testdata/default_config.yaml
Labels: documentation, testing

#2662 update changelog for 0.21 release
  CHANGELOG.md
Labels: documentation, one-approval

#2661 Bump minimum SDG version to v0.6.0
  requirements.txt
Labels: dependencies

#2641 add instructlab-training[hpu] to requirements/hpu.txt
  requirements/hpu.txt
Labels: dependencies

#2664 deps: cap dependencies for 0.21 release
  requirements.txt
Labels: release-branch, dependencies

#2607 fix the oci warning
  src/instructlab/utils.py
Labels: one-approval

#2665 Adjust to slack-github-action 2.0 api changes
  .github/workflows/e2e-nvidia-l40s-x4.yml
Labels: CI/CD, one-approval

#2619 update the config show cmd description
  README.md
Labels: documentation, one-approval

#2640 feat: add hf_transfer for fast model download
  CHANGELOG.md
  requirements.txt
  src/instructlab/configuration.py
Labels: documentation, dependencies

#2680 make a note of SDG supported model types
  README.md
Labels: documentation, one-approval

#2678 Fixup slack version sha
  .github/workflows/e2e-nvidia-l40s-x4.yml
Labels: CI/CD, one-approval

#2677 update data list output
  README.md
Labels: documentation

#2684 docs: add troubleshooting note to upgrade section of README
  .spellcheck-en-custom.txt
  README.md
Labels: documentation, CI/CD, one-approval

#2694 Disable Auto-Detection for HPU and HIP
  README.md
  src/instructlab/config/init.py
  tests/test_lab_init.py
Labels: documentation, testing

#2703 Add Prompting FAQ for troubleshooting model responses
  docs/PROMPTING-FAQ.md
Labels: documentation, one-approval

#2676 cloud-instance: Update nvidia-setup reference and readme
  scripts/infra/README.md
  scripts/infra/cloud-instance.sh
Labels: one-approval
