Repository instructlab/instructlab, pull requests merged in 2025-01, with the labels that each got.

#2741 add success messages for generate train convert evaluate test cmds
  src/instructlab/cli/data/generate.py
  src/instructlab/cli/model/train.py
  src/instructlab/model/accelerated_train.py
  src/instructlab/model/convert.py
  src/instructlab/model/evaluate.py
  src/instructlab/model/test.py
  tests/test_lab_evaluate.py
Labels: testing

#2833 ci: bump number of epochs for XL E2E job
  scripts/test-data/profile-l40s-x8.yaml
Labels: one-approval

#2879 docs: add documentation around OCI downloads
  .spellcheck-en-custom.txt
  README.md
Labels: documentation, CI/CD, one-approval

#2825 feat: support llama-cpp-python v0.3.2
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  CHANGELOG.md
  README.md
  containers/cuda/Containerfile
  containers/hpu/Containerfile
  containers/rocm/Containerfile
  docs/gpu-acceleration.md
  requirements.txt
  scripts/functional-tests.sh
  scripts/infra/cloud-instance.sh
  src/instructlab/cli/model/serve.py
  src/instructlab/configuration.py
  src/instructlab/defaults.py
  src/instructlab/model/chat.py
  src/instructlab/model/serve_backend.py
  src/instructlab/taxonomy/diff.py
  tests/test_config.py
  tests/testdata/default_config.yaml
  tox.ini
Labels: documentation, hold, testing, CI/CD, container, ci-failure, dependencies

#2881 fix backend_type log
  src/instructlab/model/serve_backend.py
Labels: one-approval

#2865 chore!: Update PyTorch to 2.5
  CHANGELOG.md
  requirements.txt
  scripts/infra/cloud-instance.sh
Labels: documentation, one-approval, dependencies

#2884 docs: explicitly mark python3.13 as unsupported
  README.md
Labels: documentation, one-approval

#2708 feat: Implement Process Management, `ilab data generate -dt`, `ilab process list`, `ilab process attach`
  pyproject.toml
  scripts/e2e-ci.sh
  src/instructlab/cli/data/generate.py
  src/instructlab/cli/process/attach.py
  src/instructlab/cli/process/list.py
  src/instructlab/cli/process/process.py
  src/instructlab/configuration.py
  src/instructlab/data/generate_data.py
  src/instructlab/defaults.py
  src/instructlab/process/process.py
  tests/test_lab.py
  tests/test_lab_process_attach.py
  tests/test_lab_process_list.py
Labels: testing

#2885 fix: Change temporary write directory in all e2e CI jobs from `tmpfs` to `/home/tmp`
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD, one-approval

#2818 feat: add OCI support to `ilab model upload`
  CHANGELOG.md
  README.md
  src/instructlab/cli/model/upload.py
  src/instructlab/model/upload.py
  src/instructlab/utils.py
  tests/test_lab_upload.py
Labels: documentation, testing

#2826 adds `--disable-accelerate-full-state-checkpoints`
  .spellcheck-en-custom.txt
  CHANGELOG.md
  src/instructlab/cli/model/train.py
  tests/test_lab_train.py
Labels: documentation, testing, CI/CD

#2854 fix the warning when the model is a file type
  src/instructlab/model/backends/common.py
Labels: one-approval

#2795 handle the help situation if config lacks
  scripts/functional-tests.sh
  src/instructlab/configuration.py
Labels: testing, one-approval

#2848 add a description in cmd option
  src/instructlab/cli/model/train.py
Labels: one-approval

#2905 docs: fix CI documentation around X-Large flag
  docs/ci.md
  scripts/e2e-ci.sh
Labels: documentation

#2831 split `ilab model evaluate` click cmds from functionality
  pyproject.toml
  src/instructlab/cli/model/evaluate.py
  src/instructlab/model/evaluate.py
  tests/test_lab_evaluate.py
Labels: testing, evaluation

#2909 fix the --help capital issue
  src/instructlab/cli/data/data.py
  src/instructlab/cli/process/process.py
  src/instructlab/config/config.py
  src/instructlab/model/model.py
  src/instructlab/taxonomy/taxonomy.py
Labels: one-approval

#2907 add debug options in CONTRIBUTING.md
  CONTRIBUTING/CONTRIBUTING.md
Labels: documentation, one-approval

#2841 update Core for README and init
  README.md
Labels: documentation, one-approval

#2904 Fixing typos
  scripts/e2e-ci.sh
Labels: one-approval

#2838 add tips for --local option usage
  src/instructlab/cli/model/train.py
Labels: one-approval

#2910 chore!: Update vLLM to 0.6.4.post1
  CHANGELOG.md
  requirements-vllm-cuda.txt
  requirements.txt
Labels: documentation, dependencies

#2917 fix the taxonony to taxonomy
  scripts/e2e-ci.sh
Labels: one-approval

#2899 feat: add S3 support to `ilab model upload`
  CHANGELOG.md
  README.md
  pyproject.toml
  requirements.txt
  src/instructlab/cli/model/upload.py
  src/instructlab/model/upload.py
  src/instructlab/utils.py
  tests/test_lab_upload.py
Labels: documentation, testing, dependencies

#2832 feat: Expose document store Python API in instructlab/instructlab rag submodule
  requirements.txt
  src/instructlab/configuration.py
  src/instructlab/defaults.py
  src/instructlab/rag/__init__.py
  src/instructlab/rag/document_store.py
  src/instructlab/rag/document_store_factory.py
  src/instructlab/rag/haystack/component_factory.py
  src/instructlab/rag/haystack/components/document_splitter.py
  src/instructlab/rag/haystack/document_store_factory.py
  src/instructlab/rag/haystack/document_store_ingestor.py
  src/instructlab/rag/haystack/document_store_retriever.py
  tests/test_component_factory.py
  tests/test_document_splitter.py
  tests/test_document_store_factory.py
  tests/testdata/temp_datasets_documents/docling-artifacts/knowledge-wiki.json
Labels: documentation, testing, dependencies

#2929 Allow functional tests to run on MacOS
  scripts/functional-tests.sh
Labels: testing, one-approval

#2925 feat: proper process listing and status
  src/instructlab/cli/process/list.py
  src/instructlab/defaults.py
  src/instructlab/process/process.py
  tests/test_lab_process_attach.py
  tests/test_lab_process_list.py
Labels: testing

#2918 update the ilab help output in README.md
  README.md
  src/instructlab/cli/system/system.py
Labels: documentation

#2902 feat(rag): Add lab rag convert CLI command
  pyproject.toml
  src/instructlab/cli/rag/__init__.py
  src/instructlab/cli/rag/convert.py
  src/instructlab/cli/rag/rag.py
  src/instructlab/clickext.py
  src/instructlab/configuration.py
  src/instructlab/defaults.py
  src/instructlab/rag/convert.py
  src/instructlab/rag/taxonomy_utils.py
  tests/test_lab.py
  tests/test_lab_config.py
  tests/test_lab_rag_convert.py
  tests/testdata/default_config.yaml
  tests/testdata/documents/md/hello.md
  tests/testdata/documents/pdf/How to use YAML with InstructLab Page 1.pdf
  tests/testdata/leanimports.py
  tests/testdata/sample_taxonomy/knowledge/hello/qna.yaml
Labels: testing

#2939 Improvement to get_argument
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/evaluate.py
Labels: one-approval

#2799 fix model_name miss
  src/instructlab/model/convert.py
  tests/test_lab_model_convert.py
Labels: testing, one-approval

#2716 add a message for download
  src/instructlab/model/download.py
  tests/test_lab_download.py
Labels: testing

#2945 add a test for get_argument
  tests/test_backends.py
Labels: testing, one-approval

#2538 split `ilab model chat` click cmds from functionality
  pyproject.toml
  src/instructlab/cli/model/chat.py
  src/instructlab/model/backends/backends.py
  src/instructlab/model/chat.py
  tests/test_lab_config.py
Labels: testing

#2886 feat: Retrieval augmented generation for chat
  src/instructlab/cli/model/chat.py
  src/instructlab/configuration.py
  src/instructlab/defaults.py
  src/instructlab/model/chat.py
  tests/test_lab.py
  tests/test_model_chat.py
  tests/testdata/default_config.yaml
Labels: documentation, testing, CI/CD, dependencies

#2914 fix: Resolve insufficient disk space issues in XL e2e job
  .github/actions/free-disk-space/action.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  scripts/e2e-ci.sh
Labels: CI/CD

#2956 update help info for rag
  README.md
  src/instructlab/cli/rag/rag.py
Labels: documentation, one-approval

#2903 feat: Ingest document embeddings for Retrieval augmented generation
  pyproject.toml
  src/instructlab/cli/model/chat.py
  src/instructlab/cli/rag/convert.py
  src/instructlab/cli/rag/ingest.py
  src/instructlab/configuration.py
  src/instructlab/model/chat.py
  src/instructlab/rag/taxonomy_utils.py
  tests/test_document_store_factory.py
  tests/test_lab.py
  tests/test_lab_rag_ingest.py
  tests/test_taxonomy_utils.py
  tests/testdata/default_config.yaml
Labels: testing, dependencies

#2955 update download output in README.md
  README.md
Labels: documentation, one-approval

#2964 feat: Remove hpu (Gaudi) support from simple training
  CHANGELOG.md
  docs/habana-gaudi.md
  pyproject.toml
  requirements.txt
  requirements/hpu.txt
  src/instructlab/train/linux_train.py
Labels: documentation, dependencies

#2962 github: reduce amount of time for issue to be marked stale
  .github/workflows/stale_bot.yml
Labels: CI/CD, one-approval

#2960 feat: split ilab config init
  pyproject.toml
  src/instructlab/cli/config/init.py
  src/instructlab/config/init.py
  src/instructlab/configuration.py
  src/instructlab/utils.py
  tests/test_lab_init.py
Labels: testing

#2969 github: increase number of permitted operations by stale bot
  .github/workflows/stale_bot.yml
Labels: CI/CD, one-approval

#2976 fix: E2E custom job now uses AWS_EC2_AMI github var
  .github/workflows/e2e-aws-custom.yml
Labels: CI/CD, one-approval

#2979 fix: align E2E custom job install steps to other jobs
  .github/workflows/e2e-aws-custom.yml
Labels: CI/CD, one-approval

#2975 fix: Add fallback logic to select a new AZ if AWS has insufficient capacity for our desired XL e2e instance
  .github/workflows/e2e-nvidia-l40s-x8.yml
Labels: CI/CD, ci-failure, one-approval

#2967 Update to differentiate between Granite model versions
  src/instructlab/common.py
  src/instructlab/utils.py
  tests/test_utils.py
Labels: testing

#2985 ci: openai api_key feeds into medium and large jobs
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
Labels: CI/CD

#2958 add the help info for --rag
  src/instructlab/cli/model/chat.py
Labels: one-approval

#2952 deps: bump instructlab libraries for 0.23.0 release
  requirements.txt
  requirements/cuda.txt
  requirements/hpu.txt
  requirements/rocm.txt
Labels: dependencies

#2844 add skip-server option for evaluate
  src/instructlab/cli/model/evaluate.py
  src/instructlab/model/evaluate.py
  tests/test_lab_evaluate.py
Labels: testing, one-approval

#2992 tests: mock only the sleep from vllm backend module
  src/instructlab/model/backends/vllm.py
  tests/test_lab_serve.py
Labels: testing

#2993 infra: When extracting instance-id, ignore terminated instances
  scripts/infra/cloud-instance.sh
Labels: one-approval

#2997 fix: add HF_TOKEN and OPENAI_API_KEY env vars to custom job
  .github/workflows/e2e-aws-custom.yml
Labels: CI/CD, one-approval

#2994 fix: Set default K for RAG to 3
  src/instructlab/defaults.py
  tests/testdata/default_config.yaml
Labels: testing

#2940 feat: DK-Bench ilab implementation
  .github/workflows/e2e-nvidia-l40s-x8.yml
  .spellcheck-en-custom.txt
  CHANGELOG.md
  docs/ci.md
  scripts/e2e-ci.sh
  scripts/test-data/dk-bench-questions-with-responses.jsonl
  scripts/test-data/dk-bench-questions.jsonl
  scripts/test-data/profile-l4-x1.yaml
  scripts/test-data/profile-l40s-x4.yaml
  scripts/test-data/profile-l40s-x8.yaml
  src/instructlab/cli/model/evaluate.py
  src/instructlab/configuration.py
  src/instructlab/defaults.py
  src/instructlab/model/dk_bench_utils.py
  src/instructlab/model/evaluate.py
  src/instructlab/profiles/amd/cpu.yaml
  src/instructlab/profiles/apple/m1/m1_max.yaml
  src/instructlab/profiles/apple/m1/m1_ultra.yaml
  src/instructlab/profiles/apple/m2/m2.yaml
  src/instructlab/profiles/apple/m2/m2_max.yaml
  src/instructlab/profiles/apple/m2/m2_pro.yaml
  src/instructlab/profiles/apple/m2/m2_ultra.yaml
  src/instructlab/profiles/apple/m3/m3.yaml
  src/instructlab/profiles/apple/m3/m3_max.yaml
  src/instructlab/profiles/apple/m3/m3_pro.yaml
  src/instructlab/profiles/intel/cpu.yaml
  src/instructlab/profiles/intel/gaudi/gaudi_3.yaml
  src/instructlab/profiles/nvidia/a100/a100_x2.yaml
  src/instructlab/profiles/nvidia/a100/a100_x4.yaml
  src/instructlab/profiles/nvidia/a100/a100_x8.yaml
  src/instructlab/profiles/nvidia/h100/h100_x2.yaml
  src/instructlab/profiles/nvidia/h100/h100_x4.yaml
  src/instructlab/profiles/nvidia/h100/h100_x8.yaml
  src/instructlab/profiles/nvidia/l4/l4_x8.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x4.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x8.yaml
  tests/test_lab_evaluate.py
  tests/testdata/default_config.yaml
Labels: documentation, testing, CI/CD, dependencies

#2990 feat(RAG): Announce RAG in CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#2996 feat(RAG): Provide RAG instructions in README.md
  .spellcheck-en-custom.txt
  README.md
Labels: documentation, CI/CD

#3013 chore(RAG): Update link in CHANGELOG to point to README
  CHANGELOG.md
Labels: documentation, one-approval

#3015 deps: cap dependencies for 0.23.0 release
  requirements.txt
Labels: release-branch, dependencies

#2987 update --skip-server for evaluate in CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#3014 infra: Use GGML_CUDA, not LLAMA_CUBLAS for `pip-install-with-nvidia`
  scripts/infra/cloud-instance.sh
Labels: one-approval

#3024 tests: Fix failure on python without _uuid module
  tests/common.py
Labels: testing, one-approval

#3039 github: addn stale bot permitted ops increase
  .github/workflows/stale_bot.yml
Labels: CI/CD

#2892 Update vLLM to 0.6.6.post1
  CHANGELOG.md
  requirements-vllm-cuda.txt
Labels: documentation, dependencies

#2941 feat: Improving model list output
  src/instructlab/model/download.py
  src/instructlab/model/list.py
  src/instructlab/utils.py
  tests/test_lab_model_list.py
Labels: testing

#2949 fix: Prevent loading of incomplete configuration file and log a warning
  src/instructlab/config/init.py
Labels: one-approval

#3035 fix: Hiding RAG-related logs and progress bar in chat
  src/instructlab/rag/document_store_factory.py
  src/instructlab/rag/haystack/component_factory.py
Labels: testing, one-approval

#2780 add -nd option for chat
  CHANGELOG.md
  src/instructlab/cli/model/chat.py
  src/instructlab/model/chat.py
  tests/test_model_chat.py
Labels: documentation, testing

#2717 Make it more clear in the README doc that python 3.12+ is not yet supported
  README.md
Labels: documentation, ci-failure

#3054 fea: Injected hf_token in test job
  .github/workflows/test.yml
Labels: CI/CD, one-approval

#3045 chore: Remove the deprecated `seed_file` from config
  scripts/test-data/profile-l4-x1.yaml
  scripts/test-data/profile-l40s-x4.yaml
  scripts/test-data/profile-l40s-x8.yaml
  scripts/test-data/profile-t4-x1.yaml
  src/instructlab/configuration.py
  src/instructlab/defaults.py
  src/instructlab/profiles/intel/gaudi/gaudi_3.yaml
  src/instructlab/profiles/nvidia/a100/a100_x2.yaml
  src/instructlab/profiles/nvidia/a100/a100_x4.yaml
  src/instructlab/profiles/nvidia/a100/a100_x8.yaml
  src/instructlab/profiles/nvidia/h100/h100_x2.yaml
  src/instructlab/profiles/nvidia/h100/h100_x4.yaml
  src/instructlab/profiles/nvidia/h100/h100_x8.yaml
  src/instructlab/profiles/nvidia/l4/l4_x8.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x4.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x8.yaml
  tests/test_config.py
  tests/testdata/default_config.yaml
Labels: testing, one-approval

#3055 tests: Validate that unknown field in config are handled gracefully
  tests/test_config.py
Labels: testing, one-approval

#3057 Add missing -y for dnf install
  scripts/infra/nvidia-setup.sh
Labels: one-approval

#3058 Fix copy pasted mistake in feature gating unit test
  tests/test_feature_gates.py
Labels: testing, one-approval

#2830 Introduce Autodoc Pydantic & Get docs ready to publish
  .github/workflows/test.yml
  .spellcheck-en-custom.txt
  docs/Makefile
  docs/README.md
  docs/accelerators/amd-rocm.md
  docs/accelerators/gpu-acceleration.md
  docs/accelerators/habana-gaudi.md
  docs/accelerators/index.rst
  docs/cli_reference.md
  docs/conf.py
  docs/config.rst
  docs/demo-slides.md
  docs/ilab.rst
  docs/index.rst
  docs/maintainers/ci.md
  docs/maintainers/images/github-actions-run-workflow-example.png
  docs/maintainers/images/instructlab-ci-ecosystem.png
  docs/maintainers/index.rst
  docs/maintainers/release-strategy.md
  docs/requirements.txt
  docs/user/PROMPTING-FAQ.md
  docs/user/converting_GGUF.md
  docs/user/index.rst
  docs/user/instructlab_models.md
Labels: documentation, testing, CI/CD

#3065 fix: Reverting previous change to test job
  .github/workflows/test.yml
Labels: CI/CD, ci-failure

#2242 add a model remove subcommand
  CHANGELOG.md
  pyproject.toml
  src/instructlab/cli/model/remove.py
  src/instructlab/model/remove.py
  tests/common.py
  tests/test_lab.py
  tests/test_lab_model_remove.py
Labels: documentation, testing

#3085 fix: apt-get update before installing packages
  .github/workflows/test.yml
Labels: CI/CD, ci-failure

#3074 fix: Using None for hf_token instead of ""
  src/instructlab/cli/rag/convert.py
  src/instructlab/model/download.py
  tests/test_lab_download.py
Labels: testing

#3063 ci: change token name for docs website
  .github/workflows/test.yml
Labels: CI/CD
