Repository instructlab/instructlab, pull requests merged in 2025-06, with the labels that each got.

#3364 ci[cuda]: build project from local checkout, not from PyPI
  .github/workflows/image-cuda.yml
  containers/cuda/Containerfile
Labels: CI/CD, container

#3439 docs: Updated CI documentation to include new pipelines, changes.
  docs/maintainers/ci.md
  scripts/e2e-ci.sh
Labels: documentation, one-approval

#3459 docs: Update README.md for dependencies #3431
  containers/README.md
Labels: container, one-approval

#3455 chore: update constraints-dev.txt (2025-06-02)
  constraints-dev.txt
  constraints-dev.txt.in
Labels: one-approval, dependencies

#3473 ci: Don't use python3.11 for python3.12 jobs
  tox.ini
Labels: testing, CI/CD, one-approval

#3477 fix: Deprecate simple train pipeline and remove small e2e job
  .github/mergify.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  README.md
  constraints-dev.txt.in
  docs/maintainers/ci.md
  scripts/e2e-ci.sh
  scripts/e2e-custom.sh
  scripts/test-data/profile-t4-x1.yaml
  src/instructlab/model/simple_train.py
Labels: documentation, CI/CD, ci-failure

#3476 tox: Fail when interpreter is missing (don't just skip with rc=0)
  tox.ini
Labels: testing, CI/CD

#3323 e2e: collect more debug info about training process
  scripts/e2e-ci.sh
  scripts/e2e-common-settings.sh
  scripts/e2e-custom.sh
Labels: one-approval

#3475 tests: improve nonexistent filename in config file test
  scripts/functional-tests.sh
Labels: testing, one-approval

#3328 fix: Correct ROCM Build Context
  Makefile
Labels: one-approval

#3478 chore: Bump ci-actions version to v0.2 + replace commit SHA in `constraints-update.yml`
  .github/workflows/constraints-update.yml
  .github/workflows/e2e-aws-custom.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4-llama.yml
  .github/workflows/e2e-nvidia-l40s-x4-py312.yml
  .github/workflows/e2e-nvidia-l40s-x4-release.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
Labels: CI/CD, one-approval

#3469 chore: update constraints-dev.txt (2025-06-16)
  constraints-dev.txt
  constraints-dev.txt.in
  pyproject.toml
Labels: one-approval, dependencies

#3491 fix: Remove dolomite support
  .pylintrc
  pyproject.toml
  scripts/test-data/profile-l40s-x8-llama.yaml
  src/instructlab/cli/model/train.py
  src/instructlab/defaults.py
  tox.ini
Labels: testing, CI/CD, one-approval

#3495 chore: update constraints-dev.txt (2025-06-23)
  constraints-dev.txt
Labels: one-approval, dependencies
