Repository instructlab/instructlab, pull requests merged in 2025-04, with the labels that each got.

#3254 chore: update docling api references
  .github/workflows/test.yml
  requirements.txt
  src/instructlab/rag/convert.py
  tests/test_lab_rag_convert.py
  tox.ini
Labels: testing, CI/CD, dependencies

#3266 Revert "chore: update docling api references"
  .github/workflows/test.yml
  requirements.txt
  src/instructlab/rag/convert.py
  tests/test_lab_rag_convert.py
  tox.ini
Labels: testing, CI/CD, ci-failure, one-approval, dependencies

#3270 ci: temporarily disable macos workflow
  .github/workflows/test.yml
Labels: CI/CD, ci-failure

#3271 re-introduce the docling fix; fix DISABLE_GPU_ACCELERATION setting via GITHUB_ENV file
  .github/workflows/test.yml
  requirements.txt
  src/instructlab/rag/convert.py
  tests/test_lab_rag_convert.py
  tox.ini
Labels: testing, CI/CD, dependencies

#3281 chore: Bump SDG version to ensure the latest docling changes are consumed
  requirements.txt
Labels: one-approval, dependencies

#3255 feat: add model family in cfg
  docs/conf.py
  src/instructlab/cli/data/generate.py
  src/instructlab/cli/model/chat.py
  src/instructlab/cli/model/serve.py
  src/instructlab/configuration.py
  src/instructlab/model/chat.py
  tests/common.py
  tests/test_config.py
  tests/test_lab_generate.py
  tests/test_model_chat.py
Labels: documentation, testing, dependencies

#3286 pick up model id defaults from config yaml
  src/instructlab/cli/data/generate.py
  src/instructlab/cli/model/train.py
  src/instructlab/configuration.py
  tests/common.py
  tests/test_lab_generate.py
  tests/testdata/default_config.yaml
Labels: testing

#3290 ci: temporarily disable small job on PRs
  .github/mergify.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD

#3288 ci: add new Llama e2e large sized job
  .github/workflows/e2e-nvidia-l40s-x4-llama.yml
  scripts/e2e-ci.sh
  scripts/test-data/profile-l40s-x8-llama.yaml
Labels: testing, CI/CD, dependencies

#3272 provides link to CUDA install via Nvidia: fixes issue 3144
  README.md
Labels: documentation, one-approval

#3264 chore: remove transformers cap and raise training floor
  requirements.txt
  requirements/cuda.txt
  requirements/hpu.txt
  requirements/rocm.txt
  src/instructlab/configuration.py
  src/instructlab/model/full_train.py
Labels: testing, dependencies

#3283 feat(deps): Bump `torch` upper bound (<2.7.0) + set allowable range for `vllm` versions (>=0.8.0,<0.9.0)
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4-llama.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  constraints-dev.txt
  requirements-vllm-cuda.txt
  requirements.txt
  tests/test_package.py
  tox.ini
Labels: hold, testing, CI/CD, dependencies

#3292 chore: Remove python 3.10 support
  .github/workflows/test.yml
  .pylintrc
  CHANGELOG.md
  CONTRIBUTING/CONTRIBUTING.md
  README.md
  docs/maintainers/ci.md
  pyproject.toml
  scripts/ilab-macos-installer.sh
  src/instructlab/model/evaluate.py
  tests/test_macos_install.py
  tests/test_package.py
  tox.ini
Labels: documentation, testing, CI/CD, one-approval

#3296 ci: Add e2e-nvidia-l40s-x4 job variant for python 3.12
  .github/workflows/e2e-nvidia-l40s-x4-py312.yml
Labels: CI/CD

#3309 fix: respect global teacher id for generation
  src/instructlab/cli/data/generate.py
Labels: one-approval

#3310 Fix floating ip add for ibm cloud
  scripts/infra/cloud-instance.sh
Labels: one-approval

#3314 ci: add verbose logging to PyPI publishing
  .github/workflows/pypi.yaml
Labels: CI/CD

#3307 fix: Removing torchscript from autoconfig
  .github/mergify.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  src/instructlab/train/linux_train.py
Labels: CI/CD, one-approval

#3012 mypy: Enable pydantic plugin
  pyproject.toml
Labels: one-approval

#3303 Preserve storage after e2e tests
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4-llama.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD, one-approval

#3161 feat: Add fallback logic to the small, medium, and large E2E tests to select a new AZ when AWS has insufficient capacity
  .github/workflows/e2e-aws-custom.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4-llama.yml
  .github/workflows/e2e-nvidia-l40s-x4-py312.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD, ci-failure, one-approval

#3326 fix: Ignore unraisable exceptions during unitcov testing
  tests/test_lab_rag_convert.py
Labels: testing, CI/CD

#3325 ci: Always collect df -h stats regardless of failure
  .github/workflows/e2e-aws-custom.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4-llama.yml
  .github/workflows/e2e-nvidia-l40s-x4-py312.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD, one-approval

#3312 chore(deps): Bump minimum `instructlab-training` version
  constraints-dev.txt
  requirements.txt
  requirements/cuda.txt
  requirements/hpu.txt
  requirements/rocm.txt
Labels: one-approval, dependencies

#3335 cap upper versions for instructlab 0.26 release series
  requirements.txt
Labels: release-branch, ci-failure, one-approval, dependencies

#3338 fix: Correct medium E2E runner label
  .github/workflows/e2e-nvidia-l4-x1.yml
Labels: CI/CD
