Repository instructlab/instructlab, pull requests merged in 2025-02, with the labels that each got.

#3100 fix: Only require HF_TOKEN when actually needed
  src/instructlab/model/download.py
  tests/test_lab_download.py
Labels: testing, one-approval

#3099 ci: run yamllint on all files
  .github/actions/free-disk-space/action.yml
  .github/mergify.yml
  .github/workflows/e2e-aws-custom.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  .github/workflows/stale_bot.yml
  .github/workflows/status-checks.yml
  .github/workflows/test.yml
  .yamllint.yaml
  tox.ini
Labels: testing, CI/CD, one-approval

#3103 Disable medium test by default with older release branches
  .github/workflows/e2e-nvidia-l4-x1.yml
Labels: CI/CD, release-branch, ci-failure

#3105 Disable medium test by default with older release branches
  .github/workflows/e2e-nvidia-l4-x1.yml
Labels: CI/CD, release-branch

#3104 Disable medium test by default with older release branches
  .github/workflows/e2e-nvidia-l4-x1.yml
Labels: CI/CD, release-branch

#3102 ci: Don't require secrets in medium e2e test
  .github/workflows/e2e-nvidia-l4-x1.yml
  scripts/e2e-ci.sh
Labels: CI/CD

#3052 Update NVIDIA CUDA to 12.8
  CHANGELOG.md
  Makefile
  containers/cuda/Containerfile
  docs/accelerators/gpu-acceleration.md
  scripts/infra/nvidia-setup.sh
Labels: documentation, container, ci-failure, one-approval

#3060 fix(RAG): Fix RAG support for taxonomies with compositional skills
  src/instructlab/rag/taxonomy_utils.py
  tests/testdata/sample_taxonomy/compositional_skills/howdy/qna.yaml
  tests/testdata/sample_taxonomy/knowledge/hello/qna.yaml
Labels: testing, one-approval

#3064 fix: Skipping docs with same ID by default
  src/instructlab/rag/haystack/component_factory.py
Labels: testing, one-approval

#3115 fix: Reformatted file to comply with yamllint reqs
  .yamllint.yaml
  tests/testdata/sample_taxonomy/compositional_skills/howdy/qna.yaml
Labels: testing, one-approval

#3116 Fix documents
  README.md
  docs/README.md
Labels: documentation, one-approval

#3088 Setting mock console size to 80 cols
  tests/test_model_chat.py
Labels: testing, one-approval

#3050 refactor: Tighten process registry interface
  src/instructlab/data/generate_data.py
  src/instructlab/defaults.py
  src/instructlab/process/process.py
  tests/process/test_process.py
Labels: testing, one-approval

#3121 Amending ilab model list output example
  README.md
Labels: documentation, one-approval

#3080 Set names for served models
  README.md
  src/instructlab/model/backends/vllm.py
  tests/test_backends.py
Labels: documentation, testing, one-approval

#2988 create a symlink for ilab after installation
  README.md
Labels: documentation, UX, one-approval

#3128 update the models doc link in README.md
  README.md
Labels: documentation, one-approval

#3127 Use prebuilt vLLM for NVIDIA CUDA
  CHANGELOG.md
  README.md
  containers/cuda/Containerfile
  requirements-vllm-cuda.txt
Labels: documentation, container, dependencies

#3131 fix: Update vLLM to 0.7.2
  CHANGELOG.md
  requirements-vllm-cuda.txt
Labels: documentation, dependencies

#3134 deps: Cap dependencies for 0.24.0 release
  requirements.txt
Labels: release-branch, dependencies

#3112 feat: Add new in-house GitHub action to detect secrets exposure
  .github/actions/detect-exposed-secrets/action.yml
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/requirements-dev.txt
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/src/__init__.py
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/src/cli.py
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/src/custom_exceptions.py
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/src/main.py
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/src/utils.py
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/__init__.py
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_cli.py
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_data/git_workflow_automatic_trigger.yaml
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_data/git_workflow_automatic_trigger_with_top_level_env_secrets.yaml
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_data/git_workflow_invalid_yaml.yml
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_data/git_workflow_manual_trigger.yml
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_data/git_workflow_missing_triggers.yml
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_data/random_yaml_file.yml
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_utils.py
  .github/workflows/lint.yml
  .isort.cfg
  .yamllint.yaml
Labels: testing, CI/CD

#3133 ci: disable spell check
  .github/mergify.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  .github/workflows/test.yml
Labels: CI/CD

#3125 feat: add --state option to filter process list output
  pyproject.toml
  src/instructlab/cli/process/list.py
  src/instructlab/data/generate_data.py
  src/instructlab/defaults.py
  src/instructlab/process/process.py
  tests/process/test_process.py
  tests/test_lab_process_attach.py
  tests/test_lab_process_list.py
Labels: testing, one-approval

#2927 add a sanity check for tensor-parallel-size
  src/instructlab/model/serve_backend.py
  tests/common.py
Labels: testing, one-approval

#3150 fix: Cap `trl` in the `release-v0.23` branch because of breaking changes
  requirements.txt
Labels: release-branch, ci-failure, dependencies

#3148 [backport] skipping docs with same ID by default
  src/instructlab/rag/haystack/component_factory.py
Labels: release-branch, ci-failure

#3152 fix: Cap `trl` in v0.24 because of breaking changes
  requirements.txt
Labels: release-branch, one-approval, dependencies

#3166 Pause the e2e-nvidia-l40s-x8.yml workflow
  .github/workflows/e2e-nvidia-l40s-x8.yml
Labels: CI/CD, one-approval

#3167 fix: Temporarily cap `trl` to avoid breaking changes from being consumed
  docs/requirements.txt
  requirements.txt
Labels: documentation, one-approval, dependencies

#3162 Fix: Add missing `torch` and `psutil` dependencies to CUDA installation instructions
  README.md
Labels: documentation, one-approval

#3177 tests: fix failure due to a slight difference in HF exception message
  tests/test_lab_upload.py
Labels: testing, one-approval

#3178 chore: Update vLLM to 0.7.3
  CHANGELOG.md
  requirements-vllm-cuda.txt
Labels: documentation, dependencies

#3176 chore: Update PyTorch cap for release v0.24
  .github/workflows/e2e-nvidia-l4-x1.yml
  constraints.txt
  requirements.txt
  tox.ini
Labels: documentation, testing, CI/CD, release-branch, ci-failure, dependencies

#3181 fix: Require pip to install ilab using `constraints.txt` in medium E2E job
  .github/workflows/e2e-nvidia-l4-x1.yml
  constraints.txt
  requirements-dev.txt
Labels: CI/CD, release-branch, ci-failure, one-approval, dependencies

#3186 infra: fix cloud-instance ec2 wait loop
  scripts/infra/cloud-instance.sh
Labels: one-approval

#3187 ci: label `scripts/infra` files as CI/CD
  .github/mergify.yml
Labels: CI/CD, one-approval

#3188 mergify: remove old `ruff.sh` reference
  .github/mergify.yml
Labels: CI/CD, one-approval

#3146 docs: update a feat change
  CHANGELOG.md
Labels: documentation, one-approval

#3157 Make SDG batch size configurable via system profile
  src/instructlab/cli/data/generate.py
  src/instructlab/configuration.py
  src/instructlab/defaults.py
  src/instructlab/profiles/amd/cpu.yaml
  src/instructlab/profiles/apple/m1/m1_max.yaml
  src/instructlab/profiles/apple/m1/m1_ultra.yaml
  src/instructlab/profiles/apple/m2/m2.yaml
  src/instructlab/profiles/apple/m2/m2_max.yaml
  src/instructlab/profiles/apple/m2/m2_pro.yaml
  src/instructlab/profiles/apple/m2/m2_ultra.yaml
  src/instructlab/profiles/apple/m3/m3.yaml
  src/instructlab/profiles/apple/m3/m3_max.yaml
  src/instructlab/profiles/apple/m3/m3_pro.yaml
  src/instructlab/profiles/intel/cpu.yaml
  src/instructlab/profiles/intel/gaudi/gaudi_3.yaml
  src/instructlab/profiles/nvidia/a100/a100_x2.yaml
  src/instructlab/profiles/nvidia/a100/a100_x4.yaml
  src/instructlab/profiles/nvidia/a100/a100_x8.yaml
  src/instructlab/profiles/nvidia/h100/h100_x2.yaml
  src/instructlab/profiles/nvidia/h100/h100_x4.yaml
  src/instructlab/profiles/nvidia/h100/h100_x8.yaml
  src/instructlab/profiles/nvidia/l4/l4_x8.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x4.yaml
  src/instructlab/profiles/nvidia/l40s/l40s_x8.yaml
  tests/test_config.py
  tests/testdata/default_config.yaml
Labels: testing

#3198 feat(infra): add cloud-instance list command; ignore shutting-down instances
  scripts/infra/cloud-instance.sh
Labels: one-approval

#3199 feat(infra): add -i option for instance id to cloud-instance.sh
  scripts/infra/cloud-instance.sh
Labels: one-approval
