Repository instructlab/instructlab, pull requests merged in 2025-05, with the labels that each got.

#3341 ci: enable workflow_dispatch for all e2e jobs, part 1
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD, one-approval

#3352 ci: trigger affected jobs on constraints-dev.txt change
  .github/mergify.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: CI/CD, one-approval

#3377 ci: Force use of constraints file for all `pip install` commands
  .github/workflows/e2e-aws-custom.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4-llama.yml
  .github/workflows/e2e-nvidia-l40s-x4-py312.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD, one-approval

#3374 Mega CI-fix: tighten click cap; force pip constraints on all dependencies; improve ci log verbosity; use "fast" deps resolver for pip; uncap pydantic for mypy; ...
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  constraints-dev.txt
  constraints-dev.txt.in
  requirements.txt
  scripts/generate_constraints.sh
  src/instructlab/configuration.py
  tox.ini
Labels: testing, CI/CD, dependencies

#3381 chore: Improve constraints generator - require linux; add tox env
  scripts/generate_constraints.sh
  tox.ini
Labels: testing, CI/CD, one-approval

#3343 chore: don't yamllint .tox directory
  .yamllint.yaml
Labels: one-approval

#3349 ci: Trigger docs job on any change under docs/ directory
  .github/workflows/docs.yml
Labels: CI/CD

#3369 ci: Enable python 3.12 unit tests; cap <3.13 while submodlib-py enables support
  .github/workflows/test.yml
  pyproject.toml
Labels: CI/CD, one-approval

#3383 ci: Include doc dependencies into constraints
  scripts/generate_constraints.sh
Labels: dependencies

#3391 ci: Sign off constraints bot patches
  .github/workflows/constraints-update.yml
Labels: CI/CD, one-approval

#3387 feat(ci): Migrate InstructLab CUDA installation logic into a reusable script
  .github/workflows/e2e-aws-custom.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4-llama.yml
  .github/workflows/e2e-nvidia-l40s-x4-py312.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  scripts/install-ilab-with-cuda.sh
Labels: CI/CD, one-approval

#3395 ci: Use non-default token for constraints updates
  .github/workflows/constraints-update.yml
Labels: CI/CD, one-approval

#3400 ci: Run medium/small e2e on install-ilab-with-cuda.sh touched
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD, one-approval

#3426 Add annotations to constraints and other adjustments
  constraints-dev.txt
  scripts/generate_constraints.sh
Labels: dependencies

#3428 ci: don't trigger pull_request_target jobs on their own workflows
  .github/mergify.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
Labels: CI/CD, release-branch, one-approval

#3370 tests: incomplete cmds have non-zero exit codes
  requirements.txt
  scripts/e2e-ci.sh
  scripts/e2e-custom.sh
  tests/test_lab.py
Labels: testing, CI/CD, one-approval, dependencies

#3345 chore: Uncap all dependencies
  requirements-dev.txt
  requirements.txt
Labels: dependencies

#3399 ci: Build flash-attn with same package versions as used in runtime
  scripts/install-ilab-with-cuda.sh
Labels: one-approval

#3427 chore: Bump ruff and isort; move pins to constraints file
  constraints-dev.txt
  notebooks/Training_a_LoRA_With_Instruct_Lab.ipynb
  requirements-dev.txt
  scripts/generate_constraints.sh
  src/instructlab/cli/model/serve.py
  src/instructlab/llamacpp/llamacpp_convert_to_gguf.py
  src/instructlab/model/backends/vllm.py
  src/instructlab/model/chat.py
  src/instructlab/model/dk_bench_utils.py
  src/instructlab/train/lora_mlx/lora.py
  src/instructlab/train/lora_mlx/make_data.py
  tests/test_config.py
  tests/test_lab.py
  tests/test_lab_download.py
  tests/test_lab_evaluate.py
  tests/test_lab_rag_convert.py
  tests/test_lab_serve.py
  tests/test_lab_upload.py
  tox.ini
Labels: testing, CI/CD, one-approval, dependencies

#3440 Update image-cuda.yml
  .github/workflows/image-cuda.yml
Labels: CI/CD

#3444 ci: stop reporting results to slack
  .github/workflows/e2e-nvidia-l40s-x4-llama.yml
  .github/workflows/e2e-nvidia-l40s-x4-py312.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  docs/maintainers/ci.md
Labels: documentation, CI/CD, one-approval

#3442 ci: Use update-constraints action from ci-actions repo
  .github/workflows/constraints-update.yml
  requirements-files.in
  scripts/generate_constraints.sh
  tox.ini
Labels: testing, CI/CD, one-approval
