Repository instructlab/instructlab, pull requests merged in 2025-03, with the labels that each got.

#3206 docs: corrected broken links
  CONTRIBUTING/CONTRIBUTING.md
Labels: documentation

#3170 ci: trigger docs job when docs/ are touched
  .github/workflows/lint.yml
Labels: CI/CD

#3212 Fix import of read_config in debug-llama
  containers/bin/debug-llama
Labels: container, one-approval

#3140 ci: install `git-core` package instead of `git`
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_data/git_workflow_automatic_trigger.yaml
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_data/git_workflow_automatic_trigger_with_top_level_env_secrets.yaml
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_data/git_workflow_invalid_yaml.yml
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_data/git_workflow_manual_trigger.yml
  .github/actions/detect-exposed-secrets/exposed_secrets_detection/tests/test_data/git_workflow_missing_triggers.yml
  .github/workflows/e2e-aws-custom.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  .github/workflows/e2e-nvidia-t4-x1.yml
  README.md
  scripts/infra/cloud-instance.sh
  scripts/infra/local-setup.sh
  scripts/infra/nvidia-setup.sh
Labels: documentation, CI/CD, one-approval

#3220 fix: ilab taxonomy diff provides full error details when it fails
  src/instructlab/taxonomy/diff.py
Labels: one-approval

#3124 docs: Add DK-Bench docs
  .spellcheck-en-custom.txt
  README.md
  docs/user/dk_bench.md
  docs/user/index.rst
  src/instructlab/model/dk_bench_utils.py
  tests/test_lab_evaluate.py
Labels: documentation, testing, CI/CD

#2731 fix cannot change context in cli issue
  src/instructlab/model/chat.py
Labels: one-approval

#3053 ui: Humanize help message describing available command groups.
  README.md
  src/instructlab/cli/data/data.py
  src/instructlab/cli/process/process.py
  src/instructlab/cli/rag/rag.py
  src/instructlab/cli/system/system.py
  src/instructlab/config/config.py
  src/instructlab/model/model.py
  src/instructlab/taxonomy/taxonomy.py
Labels: documentation, one-approval

#3222 fix(infra): reset nvidia-driver module before enabling -open one
  scripts/infra/nvidia-setup.sh
Labels: one-approval

#3224 infra: do not reinstall ibmcloud CLI
  scripts/infra/local-setup.sh
Labels: one-approval

#3230 deps: Bump lower bound for `instructlab-sdg` from 0.7.0 to 0.7.2
  requirements.txt
Labels: release-branch, one-approval, dependencies

#3130 ci: Remove spelling checks
  .github/mergify.yml
  .github/workflows/spellcheck.yaml
  .spellcheck-en-custom.txt
  .spellcheck.yml
  CONTRIBUTING/CONTRIBUTING.md
  Makefile
  requirements-dev.txt
  tox.ini
Labels: documentation, testing, CI/CD, dependencies

#3238 Bump minimum version of SDG to 0.7.2
  requirements.txt
Labels: one-approval, dependencies

#3234 docs: Add MOTD to warn about updating the kernel
  scripts/infra/cloud-instance.sh
Labels: one-approval

#3242 Document removing any CUDA packages before Upgrade
  docs/accelerators/gpu-acceleration.md
Labels: documentation, one-approval

#3249 refactor: use CUDA_HOME var when applicable
  .github/workflows/e2e-aws-custom.yml
  .github/workflows/e2e-nvidia-l4-x1.yml
  .github/workflows/e2e-nvidia-l40s-x4.yml
  .github/workflows/e2e-nvidia-l40s-x8.yml
  docs/accelerators/gpu-acceleration.md
Labels: documentation, CI/CD
